[2015-09-18 13:31] subwiz opened #4 "Static methods: can it be made instance based?"
`Filter.registerFilter()` and `Tag.registerTag()` are static methods. Not able to plug different implementations during runtime as any change affects globally across the JVM.

[2015-09-20 21:21] bkiers commented on #4
That sounds like a reasonable feature. The `static` methods will still be there to add filters over all instances.

https://github.com/bkiers/Liqp/pull/8

[2015-09-25 09:21] #4 closed

[2015-09-25 14:21] subwiz commented on #4
Thanks :-)

[2015-09-28 08:52] subwiz opened #12 "Proper Exception handling with line number reporting on error"
Is it possible to define a LiqpException class from which I can get details of template parsing errors?

[2015-09-29 13:01] bkiers commented on #12
Yeah, error reporting and source locations where things went wrong are lacking. When I have some more spare time, I'll definitely have a look at this.

[2015-11-08 08:01] nhoughto opened #14 "NoViableAlt thrown when assign tag has another tag name in it"
When an assign tag tries to assign a value from an object, but the name of the objects property matches the name of another liquid tag, a NoViableAltException is thrown.

Easy to replicate with the following AssignTag test case

[code]

Presumably some form of escaping needs to happen to not treat that value as a tag? Or maybe its something else entirely?

[2015-11-08 14:19] bkiers commented on #14
Thanks for the report and the test! I will have a look at this.

[2015-11-10 21:50] bkiers commented on #14
Fixed in https://github.com/bkiers/Liqp/commit/d0fe56679c01e89c634676326e31a371615a2ef7

[2015-11-10 21:50] #14 closed

[2015-12-07 05:01] fodon commented on #12
I second this. I parse a functioning liquid file and all I get in the error message is
 java.lang.RuntimeException: MismatchedTokenException(57!=91)
Any clue how one would begin to debug this?

[2015-12-15 10:38] bkiers commented on #12
The numbers refer to ANTLR's token types. MismatchedTokenException(57!=91) means that ANTLR encountered a token with type `57`, while the parser expected the token with type `91`. These token types are defined inside the generated `LiquidLexer`.

[2016-01-23 12:49] tunguski opened #16 "DateTest fails if run with locale different than english"
```Date``` filter uses English locale always, but [DateTest lines 25-45](/bkiers/Liqp/blob/master/src/test/java/liqp/filters/DateTest.java#L25-L45) does not check what locale is set on computer running test.

It is only a bug in tests. Everywhere

    new SimpleDateFormat(pattern)

is used

    new SimpleDateFormat(pattern, Locale.ENGLISH)

should be used.

[2016-01-23 21:49] bkiers commented on #16
Thanks for reporting! Fixed in PR: https://github.com/bkiers/Liqp/pull/17

[2016-01-23 21:49] #16 closed

[2016-04-17 15:42] jvanzyl opened #19 "Grammars are in two locations"
I forked this project a long while back to add support for a Java implementation of Jekyll, and I'm trying to sync up my changes but you have the ANTRL grammars in duplicated in two places. Is IDEA using them in a different place than the Maven plugin? Just wanted to check before making pull requests as I have grammar changes and don't want to alter the wrong set.

[2016-04-17 17:44] bkiers commented on #19
Hi Jason, yeah, I forgot to remove the grammar files in `src/grammar`. I just removed them in commit https://github.com/bkiers/Liqp/commit/5c20908eb911ed12e30799b4831ef2165daa181f

Thanks!

[2016-04-17 17:44] #19 closed

[2016-04-17 19:27] jvanzyl opened #20 "Make Include tag Jekyll friendly"
One of the additions I made in my fork was to create an IncludeJekyll tag that took the source directory of the includes from the context and didn't assume a default extension.

Would you mind a pull request that uses a source directory for the includes if one is provided in the context and uses the included resources name as-is if it has an extension? I will preserve the existing behaviour of usi

[2016-04-17 19:28] jvanzyl commented on #20
Just some context, I have a Java implementation of Jekyll that I've been using and I'd love to not to use my fork of your project :-)

[2016-04-17 20:41] bkiers commented on #20
You're more than welcome to make a PR!

[2016-04-17 20:45] jvanzyl commented on #20
Great, so any preference for the standard name for the key in the context for the source directory? Want me to make a constants class or want me to make a public static final in the Tags class?

[2016-04-17 21:56] #20 closed

[2016-04-17 22:00] jvanzyl opened #23 "Support Jekyll-like include tag"
Ultimately where I'm trying to get is to have the equivalent of:

https://jekyllrb.com/docs/templates/#includes

In my implementation of Jekyll using Liqp I only needed to support the Jekyll case and not the general case which is what Jekyll does overriding the standard include tag. I had to change your grammar slightly which allows me to use standard Jekyll in Ruby and my Java implementation whic

[2016-04-26 09:34] bkiers commented on #23
Here's a quick demo of how this can be handled: https://github.com/bkiers/Liqp/tree/feature/configurable-flavors

[2016-04-27 00:21] jvanzyl commented on #23
So will this allow me to override the existing `include` tag to make it Jekyll flavor?

[2016-04-27 00:43] jvanzyl commented on #23
Cool, I see your tests and how to change the flavor.

[2016-04-27 00:44] #23 closed

[2016-04-27 07:26] bkiers commented on #23
Cool. I've created a PR for this: https://github.com/bkiers/Liqp/pull/25

Any objections/recommendation for your use case?

[2016-10-10 21:50] kidpollo opened #26 "Template parsing context?"
I am checking out this library trying to call it directly from clojure. I noticed a that there is scope leaked into the parsing of a template for example parsing a template with a java keyword will result in something like:

[code]

I cant really trace this because the parser code seems to be generated so I was wondering if you had any idea what is going on. I cannot think that this would be safe

[2016-10-11 20:01] bkiers commented on #26
Could you post the Liquid template that caused this `NoViableAltException`?

[2016-10-11 20:09] kidpollo commented on #26
It's right there first line. It's  something like '{{case}}' or '{{case.id}}' I realize now that case is a liquid thing not necessarily a java or clojure keyword. I think the parser does not like ppl using those words

[2016-10-11 20:28] bkiers commented on #26
Yes, `case` is a liquid keyword/tag. Does your input get properly parsed and/or interpreted by the [official Ruby implementation](https://github.com/Shopify/liquid)?

[2016-10-11 20:39] kidpollo commented on #26
Yes it does. I'm trying to replace ~8 year old ruby code :P. 'Case' is a
liquid drop in our system for the case model. Very important that it works
:P
On Tue, Oct 11, 2016 at 1:28 PM Bart Kiers <notifications@github.com> wrote:

[2016-10-11 20:54] bkiers commented on #26
Looking at the grammar, I see that `case` should work if its a hash:

[code]

since `"case"` is matched by the `id2` production.

But `"case"` is not matched by the `id` production:

[code]

I think that if you include `CaseStart` in `id`, it should parse ok:

[code]

[2016-10-11 20:59] bkiers commented on #26
I'm in UTC+2, so I'll check back tomorrow.

[2016-10-16 18:19] jvanzyl opened #27 "Include tag preserving the flavor"
Hi, in the develop branch the IncludeTag uses the Template.parse method without preserving the Flavor.JEKYLL, so if you use recursive includes the flavor will flip.

Also, will you merge the develop branch to master?

[2016-10-17 13:11] bkiers commented on #27
Ah, yes, missed the `parse(...)` inside `Include`. WHen I push a fix, I will merge develop into master.

[2016-10-17 14:21] bkiers commented on #27
Does this work for you @jvanzyl https://github.com/bkiers/Liqp/pull/28 ?

[2016-10-29 00:31] kutchar opened #29 "Protection against malicious users"
I'm planning of using Liqp for a user-facing app where users can create templates and I've been thinking about security and I couldn't really see how the following cases are handled in the codebase:
1. Limiting of the maximum number of iterations per render run (i.e. don't allow a malicious user to loop infinitely or create very long loops)
2. Having a circuit breaker for how large of a template o

[2016-10-30 09:58] bkiers commented on #29
That is correct, there are no guards in place.

Not that I can think of.

[2016-10-31 14:48] lordscales91 opened #30 "[Question]Is it possible to implement a Django-like block inheritance?"
I've seen this gem for the official Liquid engine in Ruby https://github.com/danwrong/liquid-inheritance which provides [such functionality](https://docs.djangoproject.com/en/dev/ref/templates/language/#template-inheritance). I would like to implement it in this library. Is that possible?

I think it is possible but I'm not sure. To implement this we need 2 new tags: `extends` and `block`. The blo

[2016-11-12 19:59] jvanzyl opened #33 "Releases to Maven Central"
I'm happy to coordinate and do releases to Maven Central if you don't have time. I'm about to do a first release of my Jekyll-clone and I'd like to get Liqp into Maven Central so Idiom will build. Thanks.

[2016-11-12 20:12] bkiers commented on #33
Yes, that'd be great!

[2016-11-13 21:49] bkiers commented on #29
FYI, working on this feature: https://github.com/bkiers/Liqp/tree/feature/29-template-protection

[2016-11-14 20:04] bkiers commented on #29
Also added a fourth point: the maximum amount of characters a template can be (before rendering/parsing)

[2016-11-14 20:05] bkiers commented on #29
Alright, this functionality is now in `master` and I've updated the `README`. Thanks for your suggestions!

[2016-11-14 20:05] #29 closed

[2016-11-14 20:38] kutchar commented on #29
@bkiers This is great, thanks

[2016-11-17 07:25] jvanzyl commented on #33
Ok, everything is ready. I will cut a release when you'd like me to. I can do it in my fork and PR back the changes or I can do it directly on this repo with access. Whatever you prefer.

[2016-11-17 10:45] bkiers commented on #33
Feel free to do it directly on this repo. I added you as a collaborator (with push access).

Again, thanks!

[2016-11-18 19:30] realiteer opened #37 "Template.parse performance when lots of custom tags are in the content"
We implemented a custom tag "snippet" to allow users to define reusable chunks of HTML. Works like a charm... Until there are > 20 tags present in the same content. Then it starts to drastically slow down the more tags are present.

Wrote the following unit test to demonstrate:

    @Test
    public void testCustomTags() {
        final StopWatch stopWatch = new StopWatch();

        for (int n=0;

[2016-11-18 22:08] bkiers commented on #37
Thanks for the detailed report @realiteer! I'll have a closer look.

[2016-11-19 05:59] jvanzyl commented on #33
First release is here, let me know if you want the branches merge differently. I released on master and then merged to develop.

http://repo1.maven.org/maven2/nl/big-o/liqp/0.6.6/

[2016-11-19 05:59] #33 closed

[2016-12-27 04:36] cjbrooks12 opened #39 "Support 'Whitespace Control'"
See [the official Liquid documentation](https://shopify.github.io/liquid/basics/whitespace/). Whitespace around rendered blocks should be able to be removed by adding a dash to each tag. Would also be nice to support a global option to never render that whitespace.

[2016-12-27 18:20] mosabua commented on #39
That would be great for tighter HTML generation but especially also for creation of JSON files and other resources that need to be processes by some downstream tools. I had to collapse all my liquid commands into a line and it makes it hard to maintain (and read).

[2016-12-28 11:31] bkiers opened #40 "capture tag always evaluates to a string"
The contents inside a `capture` tag is evaluated as a `block`, causing it to become a string. But the following:

    {% capture n %}{{ username | size }}{% endcapture %}

should be captured as a number.

[2016-12-28 12:46] bkiers commented on #40
Just looked it up:

[2016-12-28 12:46] #40 closed

[2017-02-01 01:26] mosabua opened #42 "Supporting Jekyll highlighting"
Jekyll has a synatx for highlighting . see https://jekyllrb.com/docs/posts/#highlighting-code-snippets

What would it take to implement this? Just add a highlight tag implementation in https://github.com/bkiers/Liqp/tree/develop/src/main/java/liqp/tags or some other stuff as well? I am not sure if this tag is liquid standard or jekyll only to be honest.

[2017-02-01 01:35] mosabua opened #43 "Breadcrumb related parsing problems"
I have a include file in Jekyll that add breadcrumbs which looks like this

[code]

This works fine with Jekyll 3.3.1. When using my liqp based parsing in a java jekyll impl the order of the crumbs is messed up. E.g. instead of

Home > Docs > Getting Started > Getting Started

I get

Home > Getting Started > /Docs >

Any idea where to start looking to figure out where the problem is?

[2017-02-01 01:40] mosabua commented on #43
I have a feeling it is a consequence of wrong start values. I have page.url eval differently with URL
http://localhost:4000/docs/getting-started/

With Java /docs/getting-started/index.md
With Ruby /docs/getting-started/index.html

[2017-02-01 01:45] mosabua commented on #43
Another combo is

http://localhost:4000/docs/getting-started/initial-configuration.html
from docs/getting-started/initial-configuration.md

Ruby: Home > Docs > Getting Started > Initial Configuration
Java: Home > Getting Started > /Docs >

[2017-02-01 10:45] bkiers commented on #39
Alright, added support for these two enhancements: https://github.com/bkiers/Liqp/pull/44

[2017-02-01 10:45] #39 closed

[2017-02-01 10:48] bkiers commented on #42
Nope, it is not present in Liquid, only in Jekyll. I'll have a look at it later on.

[2017-02-01 10:48] bkiers commented on #43
Thanks Manfred, I'll have a look.

[2017-02-01 16:07] mosabua commented on #39
Sweet ... now we are all hoping for a new release soon @bkiers

[2017-02-01 18:47] bkiers commented on #42
Wait, you can simply add the tag at runtime:

    Template template = Template
            .parse("{% highlight ruby %} puts 'something' {% endhighlight %}")
            .with(new Tag("highlight") {

        @Override
        public Object render(TemplateContext context, LNode... nodes) {

            String language = nodes[0].toString();
            String source = super.asString(nodes[1].render

[2017-02-01 18:56] mosabua commented on #42
Cool... should I do that or will you add this as part of liqp as a falvor support or so?

[2017-02-01 19:13] bkiers commented on #42
I thought about adding it, but that would involve more: I'd need to provide a mechanism/interface to hook into the `render(...)` method of this built-in highlight tag since integrating the actual highlighting library (or libraries) would be too much. So, I recommend doing it as I did above.

[2017-02-01 19:29] mosabua commented on #42
So if I understand you correctly the best approach for me would be to create a new Template class e.g. called JekyllTemplate that overrides render like above. But would it not also have to call the super render method?

[2017-02-01 19:40] mosabua commented on #42
I am trying this now... will also have to add support for linenumbers..

[2017-02-01 19:40] bkiers commented on #42
No, there is no need to subclass `Template`. You just process your jekyll (or liquid) source files as normal, like this:

[code]

but then do this:

[code]

where `Highlight` looks like this:

[code]

[2017-02-01 19:42] bkiers commented on #42
Yes, that is it.

[2017-02-01 19:55] bkiers commented on #39
@jvanzyl would you be so kind as to push a new release (0.6.8) to Maven Central?

[2017-02-01 21:34] mosabua commented on #42
So I have a class now that does this to some degree:

[code]

but there are two problems I am struggling with.

1. nodes[1].render(context) looses the newline from the code snippet so the original code snippet is collapges to a one-liner.

E.g. try with something like

[code]
2. if my highlight block also has a linenos argument it bails out and never even reaches my tag impl.

[code]

instead I ge

[2017-02-01 22:01] bkiers commented on #42
Hmm, when I run the following class:

[code]

I get the following output:

[code]

Looking at the grammar for a custom tag: `TagStart Id (expr (Comma expr)*)? TagEnd`, it looks like there needs to be a comma between shell and linenos: `{% highlight shell, linenos %} ...`. I don't know if that is Liquid syntax or a bug (the mandatory comma). I'll have to look at that. For now, it's past my bed time

[2017-02-01 22:04] mosabua commented on #42
Thanks for all the great help @bkiers ! I will check that out.

[2017-02-02 18:39] mosabua commented on #42
So if there is a comma between shell and linenos it works. I adpated my code for that. The newlines from the markdown source I am parsing are gone .. somehow they are getting lost in earlier parsing so thats my own problem at this stage. If you could figure out whats up with the required comma that would help. Also let me know if you want a separate bug for that..

[2017-02-03 17:16] mosabua commented on #42
Turns out that adding a comma before linenos is invalid in Jekyll ... is that a Jekyll bug or a Liqp bug?

I get

 Liquid Exception: Syntax Error in tag 'highlight' while parsing the following markup: shell, linenos Valid syntax: highlight <lang> [linenos] in docs/getting-started/markdown-guidelines.md
/var/lib/gems/2.3.0/gems/jekyll-3.3.1/lib/jekyll/tags/highlight.rb:19:in `initialize': Syntax Er

[2017-02-04 21:53] bkiers commented on #42
I'll have a look at that comma tomorrow.

[2017-02-05 01:55] mosabua commented on #42
Sounds great .. but no rush .. I am off for a few days..

[2017-02-05 21:25] bkiers commented on #42
Looking at the Liquid docs:

It appears that the mandatory comma is a bug in my grammar. As of now, the grammar expects the parameters of custom tags to be expressions, whereas the Liquid docs state that it should just be a plain string. This needs a bit of refactoring of the grammar and tree-walker on my end.

[2017-02-06 19:53] bkiers commented on #42
Fixed in the PR referenced above :point_up:

[2017-02-06 21:02] bkiers commented on #43
This has to do with the fact that there is a nested `for` tag. The inner `for` messes up the variables of the outer `for`. Nasty one, let me think a bit on how to tackle this...

[2017-02-06 21:28] bkiers commented on #43
@mosabua could you try the fix in https://github.com/bkiers/Liqp/pull/47 ?

[2017-02-07 03:04] mosabua commented on #43
I can try it next week when I am back at work..

[2017-02-07 10:35] bkiers commented on #43
Great! 👍

[2017-02-13 20:09] mosabua commented on #42
Great - thx

[2017-02-13 20:09] #42 closed

[2017-02-13 20:10] mosabua commented on #43
I tested this now with the 0.6.8-SNAPSHOT from the PR branch and that works!

[2017-02-13 20:10] mosabua commented on #43
So from my perspective you can merge and release. Let me know if you need help with the release to the Central Repository..

[2017-02-20 08:57] bkiers commented on #43
Cool, I'll tidy up that branch and add some more unit tests for nested contexts soon. I've been a bit busy lately.

[Jason](https://github.com/jvanzyl) has been doing releases to Maven Central. If you're okay with it, I can ask him to provide you access as well. Then I'll give you push access to this repo and you can do releases too. Just let me know.

[2017-02-20 16:08] mosabua commented on #43
I work with Jason so I will chat with him when I get a hold of him.

[2017-02-20 19:54] bkiers commented on #43
Cool 👍

[2017-02-22 19:25] bkiers commented on #43
Ok, the fix is in `master` and I've bumped the version. Feel free to release `master` to the Central Repository.

I also added you as a collaborator in case you want to change versions before future releases and/or merge develop into master before releases.

Thanks!

[2017-02-22 22:02] mosabua commented on #43
Great. I will just have to sort out the Central access.

[2017-02-24 12:46] #43 closed

[2017-02-24 23:25] mosabua commented on #43
Release done.

[2017-04-13 12:28] jajcek commented on #12
Are there any plans to introduce this in the near future? Something like strict_variables and some info how to identify which one has failed (to be able to find this in the template)?

[2017-04-14 09:50] bkiers commented on #12
Not in the near future. I do welcome PR's, of course :)

[2017-07-01 22:14] smartytime opened #51 "Feature Question"
First of all, love the library.

In our use case, we have a two-pass rendering.  The first pass has a certain set of models, and the second pass has a different set.  All the other filters are the same, but I could foresee a setup that used different filters based on the rendering mode.

What would be awesome is if we could tell the renderer/parser which items should be purposely ignored.  If the

[2017-07-02 13:31] bkiers commented on #51
Hi @smartytime, could you give a concrete example of this?

[2017-08-04 10:21] oetting opened #52 "Allow escaping quotes in assign tags"
Parsing a template with an escaped quote in an assign tag fails. So the following template does not work.

    {% assign test = "f\"oo" %} Test: {{test}}

I have tested with the following java code:

    Template.parse("{% assign test = \"f\\\"oo\" %} Test: {{test}}");

I would expect it to be possible to escape quotes in the assign tag. Please let me know if I have misunderstood something or you

[2017-08-04 20:32] bkiers commented on #52
AFAIK, escape sequences inside strings are not allowed. If you want to output a double quotes string, use single quotes:

    {% assign test = 'f"oo' %}

and for a single quote, use a double quoted string literal:

    {% assign test = "f'oo" %}

In case you need both quotes, use `&quot;` (or `&apos;`):

    {% assign test = "f'o &quot; o" %}

[2017-08-07 07:58] oetting commented on #52
You are right. I have tested with the shopify liquid implementation, and it is not supported. Sorry about the noise.

FWIW capture tags is another way of handling content with both quote types.

[2017-08-07 07:58] #52 closed

[2017-08-07 08:31] bkiers commented on #52
👍 no problem @oetting

[2017-08-10 17:42] mehtasankets opened #53 "Template.render() leaving Executor threads active"
Template.render() method is creating a separate thread which is not getting closed explicitly. Method should ideally call executorService.shutdown() explicitly to properly close the thread.

Not closing threads explicitly is causing multiple threads to be alive in the system and causes problems at the time of closing the process.

[2017-08-12 15:34] bkiers commented on #53
Thanks @mehtasankets!

[2017-08-12 15:34] #53 closed

[2017-08-15 15:50] mehtasankets commented on #53
Welcom @bkiers .. Can we have new version published with this change?
Also, per my understanding this is a temporary fix and ideally the method should accept ExecutorService so that thread pool and thread management can be pushed back to the client using the library instead of library creating new threads on its own. Any thoughts?

[2017-08-15 19:13] bkiers commented on #53
Ah, yeah, that would be nice. How about something like this: https://github.com/bkiers/Liqp/commit/bf4a522bdf1e2d6756aca85b0d83063e7dccaa57 (on a separate branch for now)

[2017-08-23 20:19] ilg-ul opened #55 "Better whitespace processing proposal"
Whitespace processing was always tricky in template engines, and the Shopify Liquid makes no exception.

The specifications (https://shopify.github.io/liquid/basics/whitespace/) mention that adding hyphen in the tag syntax will strip whitespace, but it does not give more details.

The first approach to this rule is to strip **as many** whitespaces (spaces, tabs, CR, LF) as possible.

Unfortunately

[2017-08-30 08:05] bkiers commented on #55
Hi @ilg-ul, thanks!

If I scan the changed code/grammar, `withStripSpaceAroundTags(true)` is only affected by this change right? The `{%- ... -%}` is unchanged. In that case, could you create a PR against this repo?

[2017-08-30 08:39] ilg-ul commented on #55
yeah, I had many problems and I had to experiment several solutions. none are great and I'm not sure the current solution I use in my forked repo is final.

as for now, the big issues I identified are:

- generally, stripping spaces should stop at the first NL, and **do not affect** previous/subsequent lines; I don't know how Ruby implements it, but if it strips previous/subsequent linet there is

[2017-08-30 11:19] bkiers commented on #55
Thanks for the elaborate explanation!

[2017-08-30 11:26] ilg-ul commented on #55
you're welcome! hope it helps.

[2017-09-07 14:16] blinksoft commented on #12
If there is someone interested in doing this as a paid engagement, please PM me.   We are trying to figure out if we want to do the work or outsource it, as this would help our support team identify issues easier.

[2017-09-07 20:27] bkiers commented on #12
Here's a way you could go about providing better error messages: https://github.com/bkiers/Liqp/pull/56

For the time being, I'll leave that PR open for some feedback. Feel free to build upon that branch and submit a PR of your own.

HTH

[2017-09-21 06:05] heaplabs opened #57 "Does this support all the tags and filters that are there in the original Shopify ruby implementation ?"

[2017-09-21 07:27] bkiers commented on #57
At the time I wrote the library, yes. I haven't followed recent development though.

[2017-09-21 07:27] #57 closed

[2017-09-21 09:49] heaplabs commented on #57
ok, thanks

[2017-09-22 09:34] ilg-ul commented on #55
Here is an update:

I'm almost ready with my template generator, which works now both as a npm module and an Eclipse plug-in. As such, I had to re-write the templates in a portable way.

The first change I had to make was to give up using global switches, and explicitly use `-%}`; global switches are not standard and each implementation may do them differently.

Then I had to sort out the issue wi

[2017-10-09 13:02] efenderbosch opened #61 "Dependency has a security vulnerability"
JSoup before version 1.8.3 has a vulnerability. Any chance you can bump the version and do a release?

https://nvd.nist.gov/vuln/detail/CVE-2015-6748

[2017-10-09 21:22] #61 closed

[2017-10-09 21:23] bkiers opened #63 "Create a 0.7.1 release"
☝️

[2017-10-09 21:24] bkiers commented on #61
I'll see if I can write up some release notes tomorrow or the day after and ask one of the Maven-cracks to push a release.

See: https://github.com/bkiers/Liqp/issues/63

[2017-10-10 21:24] mosabua commented on #63
If everything in master is ready to go I can cut a release and get it onto Central. Please confirm that you want to go to 0.7.0 as version as well.

[2017-10-11 07:03] bkiers commented on #63
Yes, you can use version 0.7.0 (`master` branch).

Release notes: https://github.com/bkiers/Liqp/releases/tag/0.7.0

Many thanks @mosabua!

[2017-10-11 23:06] mosabua commented on #63
Deployment done. https://repository.takari.io/content/repositories/releases/nl/big-o/liqp/0.7.0/

Should be synced to central in a bit. Check in a few hours and let me know if it hasnt made it in case I have to follow up.

[2017-10-12 02:18] mosabua commented on #63
It has not yet landed on Central and I am investigating what is going on with the sync http://repo1.maven.org/maven2/nl/big-o/liqp/

Stay tuned

[2017-10-13 11:21] #26 closed

[2017-10-13 16:52] mosabua commented on #63
So ...  it turns out that the sync to central is deactivated so I have to rejig the release process. Two options here

1. We forget about 0.7.0 and I fix up the release process and release 0.7.1 via ossrh
2. We delete tags and such in github, turn back to 0.6.0-SNAPSHOT and release 0.7.0 again to central.

Your choice @bkiers .. just let me know and I will prepare a PR for master or develop (or bo

[2017-10-14 18:47] bkiers commented on #63
Hi @mosabua, let's just go to 0.7.1: https://github.com/bkiers/Liqp/releases/tag/0.7.1

I've updated and tagged `master` for 0.7.1.

Thanks!

[2017-10-17 16:24] mosabua commented on #63
Since you tagged in github already I had to rev again. I did all the necessary changes in the POM in master and cut a release of 0.7.2.

It is currently already in OSSRH.
https://oss.sonatype.org/content/repositories/releases/nl/big-o/liqp/0.7.2/

Release process with the release plugin is documented in the readme file.
New release process automatically revs versions in master and uses just the ve

[2017-10-17 16:47] mosabua commented on #63
Maybe that means also that you could set the default branch of the repo to be master and get rid of the develop branch

[2017-10-27 14:17] efenderbosch opened #66 "Does dotted attribute notation work when using actual objects instead of JSON?"
We're trying to directly put an object into the render context like this:

``template.render("some_top_level_name", someComplexObject);``

And in the actual template, we can access the root object via ``{{ some_top_level_name }}`` but not any of its attributes, like ``{{ some_top_level_name.snake_case_attribute }}`` or ``{{ some_top_level_name.camelCaseAttribute }}``

Does this work? Are we doing

[2017-10-27 18:22] bkiers commented on #63
Ah, sorry, didn't know I should've left the tags alone :)

Thanks @mosabua!

[2017-10-27 18:22] #63 closed

[2017-10-27 18:54] bkiers commented on #66
Yes, that would be good to have. Check the PR and it's unit tests.

[2017-10-27 19:35] efenderbosch commented on #66
Maybe allow the ObjectMapper to be passed in or customized? For example, our looks like this:

[code]

Not all of that is relevant, but the Jdk8 and JavaTime modules probably are.

[2017-10-27 19:42] efenderbosch commented on #66
Another question. Will the value present in TemplateContext (like in a custom Tag) be the original object, or a Map? If it is a map, then we'll just be converting the map back to an object instead of JSON back to an object.

[2017-10-27 20:09] bkiers commented on #66
Ah yes, of course. Moved it to `ParseSettings` to that you can set your own.

I've not looked into this lib for a while, but I think it is. Give it a try.

[2017-10-27 21:40] #66 closed

[2017-10-27 22:20] bkiers commented on #66
Whoops, I accidentally merged it (and automatically closed this issue). Feel free to re-open if needed.

[2017-10-30 14:46] efenderbosch commented on #66
I'm getting a LinkedHashMap<String, Object> out of the TemplateContext instead of the instance of ``someComplexObject``. That's not ideal, but not horrible.

[2017-10-30 19:22] efenderbosch commented on #66
Maybe just add ``public T get(String key, Class<T> clazz)`` to ``TemplateContext``?

But then ``TemplateContext`` would also need ``ParseSettings`` to access the ``ObjectMapper``

[2017-10-30 20:34] bkiers commented on #66
Ah, ok, I misunderstood. Yes, the instance is getting transformed into a `LinkedHashMap <String, Object>`.

Perhaps there is, but I can't imagine a use-case where this would be useful (keeping the instance instead of a `LinkedHashMap<String, Object>`). Feel free to create a new issue for this, but it wouldn't be high on my list to implement (unless there is a good use-case for it).

[2017-10-30 20:41] efenderbosch commented on #66
We are already using it in this way in our custom tags. I did a quick and dirty implementation like this:

[code]

And our tags just extend ``BeanTag`` instead of ``Tag``

Adding it to ``TemplateContext`` would be just a little extra syntactic sugar, but not necessary.

[2017-12-28 14:01] ilg-ul opened #68 "Test \r\n in WhitespaceControlTest.java"
Although with the current version that always removes **all** whitespaces it might not be a problem, for correctness, I think it would be better to also test Windows specific cases too.

This means doubling all tests that use `\n` with similar ones using `\r\n`.

In my fork that removes only one line terminator, the test file looks like this:

- https://github.com/gnu-mcu-eclipse/Liqp/blob/ilg-whi

[2018-01-06 22:09] ucjonathan opened #69 "Help understand the security against reflection methods"
Can you help me understand the code base and how it prevents the untrusted user writing the template from calling methods like class loader methods, reflection, etc.

[2018-01-10 23:28] mosabua commented on #69
As far as I know it does not prevent that. Whatever tool embeds liqp would have to do that imho as it should not be the concern of liqp itself to worry about that. In any case.. why do you want to know? The code is open source so you can see how it all works..

[2018-01-10 23:28] #69 closed

[2018-01-16 09:08] mehtasankets commented on #53
@bkiers yes, above fix looks good to me..
Would you be able to publish a new jar with that change?

[2018-01-17 18:03] smarter opened #70 "Allow expressions as custom tag parameters"
In liqp 0.6 it was possible to use a custom tag `foo` like this:
[code]
But since https://github.com/bkiers/Liqp/pull/46 the parameter is always parsed as the string "a.b.c", and there seems to be no built-in way to parse and evaluate the expression in this string. The following does not work either (parsing fails with a NoViableAltException):
[code]
Is there an alternative to this? The documentat

[2018-01-17 19:44] bkiers commented on #70
Yeah, that is unfortunate that the specs say (all!) parameters provided to a custom tag are teated as a single string.

You could evaluate the parameter-string(s) as an expression in your custom tag. Perhaps a bit of a hack, but do-able:

[code]

will print:

[code]

[2018-01-18 11:14] bkiers commented on #53
The current release, 0.7.2, already has the shutdown of the exe-service:

[code]

Or do you want a new release of master?

[2018-01-18 17:50] mehtasankets commented on #53
I would actually need a new version with
`Future<String> future = executorService.submit(task);`
inside try-catch. My application actually broke at that line.

Would you kindly provide a new jar?

[2018-01-18 18:25] bkiers commented on #53
If you only need the JAR, you can assemble it yourself by doing a `mvn clean install` in the root of the project (it will be located here: `./target/liqp-0.7.3-SNAPSHOT.jar`).

If you want a new version in in Maven Central, I'll need to ask someone else.

[2018-01-18 18:31] mehtasankets commented on #53
I would need it via maven central as I have different environments where I run my program and otherwise I'll have to install it everywhere.

[2018-01-18 19:25] bkiers opened #72 "Release 0.7.3"
Hi @mosabua, could you create a new release to Maven Central from `master`?

[2018-01-18 19:26] bkiers commented on #53
OK, I've asked for a new release to Maven Central: https://github.com/bkiers/Liqp/issues/72

[2018-01-18 21:27] mosabua commented on #72
On it.

[2018-01-18 21:34] mosabua commented on #72
Released on OSSRH
https://oss.sonatype.org/content/repositories/releases/nl/big-o/liqp/0.7.3/

[2018-01-18 21:35] mosabua commented on #72
Should be synced to Central  Repository shortly.

http://repo1.maven.org/maven2/nl/big-o/liqp/

[2018-01-18 21:40] bkiers commented on #72
Great, thanks!

[2018-01-18 21:49] mosabua commented on #72
💥   http://repo1.maven.org/maven2/nl/big-o/liqp/0.7.3/

[2018-01-18 21:49] #72 closed

[2018-01-18 21:49] mosabua commented on #53
http://repo1.maven.org/maven2/nl/big-o/liqp/0.7.3/

[2018-01-19 07:35] mehtasankets commented on #72
Thanks guys. Appreciate your quick help on this.. :+1:

[2018-01-24 21:13] #70 closed

[2018-01-30 16:54] uhinze opened #73 "Setting locale"
I'd like to somehow specify the locale which is used by the date filter.

In `Date` there is a function `setLocale()`, which is not in use. Also, as `Date` isn't public, I can't call the function myself.

[2018-01-30 18:38] bkiers commented on #73
Ah, `Date` should have been `public`. Fixed in https://github.com/bkiers/Liqp/pull/74

[2018-01-30 18:39] #73 closed

[2018-01-31 11:48] uhinze commented on #73
Thanks @bkiers !

[2018-02-01 22:02] brettcooper commented on #12
Any progress or update on this issue?  We are also facing the issue of cryptic Liquid error messages that are difficult to understand or troubleshoot.  Better exception messaging would be greatly appreciated!

[2018-02-02 07:38] bkiers commented on #12
@brettcooper ah yes, I already had some code on my local branch to handle runtime errors for filters which I forgot to push. I just did, and will be in then ext release. Thanks.

[2018-02-02 07:41] #12 closed

[2018-02-02 21:12] brettcooper commented on #12
Woohoo @bkiers!  Thanks!  We look forward to trying the new exception handling.

[2018-02-20 02:09] jvanzyl opened #75 "Allow variables with the include tag"
We have a layout that works in Jekyll where there is an include that uses a variable defined in the front-matter to select which navigation to include. Here's an example:

[code]

Seems like the ANTRL grammar needs to be altered to allow `{{XXX}}`, and do a variable lookup in the include tag.

[2018-02-20 19:49] bkiers commented on #75
What is allowed in a Jekyll `{% include ... %} `?

Only simple variable lookup like this:

    '{{' id ('.' id)* '}}'

or a fill `output` like this:

    '{{' expr filter* '}}'

[2018-02-20 20:33] jvanzyl commented on #75
Sure, so can we be compatible with Jekyll? Happy to work on it on the weekend, just wanted to get the green light.

[2018-02-21 08:20] bkiers commented on #75
Yeah, in that case the tree rewriting needs to be modified from:

[code]

to something like this:

[code]

And the tree walker grammar will then alse need to be modified into something like this:

[code]

Of course, a PR is more than welcome! The tree-walking and -rewriting can be a bit confusing in ANTLR v3. Not surprising Terence dropped it in ANTLR v4. Let me know if I can be of assistance.

[2018-03-02 12:39] bkiers commented on #75
@jvanzyl this is probably trickier than I had thought. The lexer keeps track of a boolean `inTag` whenever it sees a `{{` or `{%` and produces tokens based on that flag.

Since we're now trying to support `{{ ... }}` in an include, that means the a flag isn't sufficient anymore (there's a tag in a tag now). Changing the flag into a stack that keeps track level of nesting didn't work: ANTLR3's lexe

[2018-03-02 12:43] bkiers opened #76 "ANTLRv3 -> ANTLRv4"
## TODO

 - [ ] new grammar
 - [ ] new visitor

[2018-03-02 12:43] bkiers commented on #75
https://github.com/bkiers/Liqp/issues/76

[2018-03-04 18:14] micahasmith opened #78 "Parse Exception"
` {{ 'general.meta.tags' | t: tags: meta_tags }}`

Seeing exceptions on any tags with that `t: tags: meta_tags` sorta structure.

Any ideas?

[2018-03-04 19:49] bkiers commented on #78
Is that valid syntax? When separating filters, shouldn't they be separated with a `|`, and since the `t` doesn't have any parameters, should't it be without the `:`?

[code]

See: https://help.shopify.com/themes/liquid/filters

If that syntax is valid, could you please post a link where this is explained?

Thanks!

[2018-03-05 07:16] bkiers commented on #37
I'm in the porting the ANTLR3 grammar to the newer v4 version, and this is now what I get with the newer v4 version of ANTLR:

[code]

output:

[code]

[2018-03-05 13:10] micahasmith commented on #78
Thanks for responding.

Yeah, its pretty weird. See the "Interpolation of template key arguments" section.

https://help.shopify.com/themes/development/internationalizing/translation-filter

[2018-03-05 13:39] bkiers commented on #78
Thanks for the link. I see this `t` is a built-in filter used for locales, which is [not implemented in Liqp](https://github.com/bkiers/Liqp/tree/master/src/main/java/liqp/filters).

I'll have a closer look to see if I can support this.

[2018-03-05 21:29] micahasmith commented on #78
thank you for all of your help.

one thing that may allow someone like me (as in, not badass at parser/grammars) to solve problems like this for myself, is the option to have a "catch-all" or "fall-back"

for example, instead of throwing the `no filter available named:` exception, if i could have a catch-all filter or a fall back or a function that gets called with data like:

 - what the text was

[2018-03-06 07:17] bkiers commented on #78
It's a good idea, and it's already in place. For example, writing a custom `t` filter is possible like this:

[code]

which displays: `TODO: handle value='general.meta.tags', param=42`

The only thing that is not supported yet is the way the parser handles `filter: key: value` input.

[2018-03-06 19:16] bkiers commented on #78
Okay,fixed in https://github.com/bkiers/Liqp/pull/80/commits/8028cea9475f6042d05cd24acdcf7fe299be5458

After it's merged, you can do something like this:

[code]

displays:

[code]

Note that since `t` is not a standard Liquid tag, it won't be part of Liqp.

[2018-03-06 19:27] micahasmith commented on #78
!!! wow, this is awesome!

[2018-03-08 10:49] #37 closed

[2018-03-08 10:49] #75 closed

[2018-03-08 10:49] #76 closed

[2018-03-08 10:50] #78 closed

[2018-03-08 11:18] bkiers commented on #30
I know, rather late :)

But just in case anyone else stumbles upon this and wants this too.

I've read through the links provided, and I'm not going to support this in Liqp unfortunately.

[2018-03-08 11:18] #30 closed

[2018-03-08 11:20] #51 closed

[2018-03-08 11:32] bkiers commented on #68
With the rewrite of the grammar (from v3 to v4), the Windows `\r\n` pass out of the box. Unit tests are added in https://github.com/bkiers/Liqp/pull/81

[2018-03-08 11:32] #68 closed

[2018-03-08 11:38] bkiers commented on #55
After re-reading this again, I've decided not to change the behaviour of space-stripping (which, as far as I can see by testing, is the same as Ruby + liquid 4.0.0). There are more quirks in Liquid that could be improved upon, but I'd rather keep it as close as possible with Ruby's version than improve it only in Liqp.

Again, thank you for your insights!

[2018-03-08 11:38] #55 closed

[2018-03-08 12:18] ilg-ul commented on #55
I took a look at the original liquid tests, and indeed they skip all left/right whitespaces, but their samples are exclusively focused on html.

maybe I'm missing something, but what syntax  whould you suggest for cases when I need to preserve an extra empty line?

[code]

If `-%}` skips **all** whitespaces, the empty lines 1 & 2 disapear, and I found no way to preseve them.
I tried to move the `-

[2018-03-08 13:59] bkiers commented on #55
I don't know. I really have no clue anymore as to what we're discussing here :)

"How would you do it in Ruby + liquid?" would be my counter question.

I just ran the following Ruby code:

[code]

and did the same with the current master of Liquid, and they both produce this:

[code]

If the above is not your desired output, then how would you change the Ruby code? Again, I find it more important

[2018-03-08 14:06] bkiers commented on #55
I'm not going to change anything about how Liqp is currently handling this, but feel free to send a PR that does what you think is a better way. I'm more than happy to include it, just as long as it doesn't change the default behaviour.

[2018-03-08 14:21] ilg-ul commented on #55
Unfortunately it is not the desired output, it lacks the empty lines before sysclock.h and before stdint.h. :-(

I'm not generating code to be immediately compiled without being seen by humans, I'm generating projects to be used as starting points for more elaborate projects, so the empty lines are required, for readability reasons.

It looks like I failed to ask the correct question.

I agree tha

[2018-03-08 15:35] bkiers commented on #55
No, no suggestion, I thinks it's not possible in Liquid.

Coming back to my remark above, I think there is a solution with little changes. You will need to use plain open- and close tags like this:

[code]

and then do this:

[code]

which will output:

[code]

which, I believe, is what you're after (or at least close to).

This change can be found here: https://github.com/bkiers/Liqp/pull/82 and

[2018-03-08 16:01] ilg-ul commented on #55
hmmm... that's bad... it means Liquid has a problem. :-(

yes, this is the expected result.

thank you, I'll think about this.

unfortunately I need the same liquid code to work in JavaScript, and there I do not have this extra boolean flag... interestingly enough, the JavaScript liquid module, when using the `-` tags, works as expected, it stops striping at the first line terminator.

[2018-03-08 16:15] bkiers commented on #55
Hmm, that is a shame.

I double checked the Ruby output and Liquid version, and also tried providing the variables `trace ` and `content` whose absence might be causing issues, but the result is the same.

[code]

[2018-03-08 16:34] ilg-ul commented on #55
I'll further investigate and probably open an issue with the Shopify/liquid project, to see what the gurus think about this issue.

[2018-03-08 16:58] bkiers commented on #55
👍

[2018-04-01 19:20] randohinn opened #83 "Accessing dot notation if a Map is passed to render."
A peculiar issue here. I see that there is #66 on a similar topic. However, I want to pass in a `Map<String,Object>` instead, as there might be plenty of variables I want to access.. In this case, using dot notation does not work for me.

Example:

[code]

When I then try doing `{{site.name}}` in the template, I get out nothing. Doing `{{site}}` gives me the string representation of the Site objec

[2018-04-01 21:19] bkiers commented on #83
Yes, that is correct, you should convert the `Site` as a map yourself like this:

[code]

[2018-04-01 21:19] #83 closed

[2018-04-16 03:30] mbaumbach opened #84 "Assign tag only allows one filter"
The following code throws an exception parsing the template:

`Template template = Template.parse("{% assign v = 1 | minus: 1 | plus: 1 %}");`

The exception is:

[code]
This template does parse with the Ruby version of Liquid.

A simple workaround is to use multiple assign statements for every filter you want to apply.

I'm not super familiar with ANTLR, but I assume the following assignment defi

[2018-04-16 12:05] bkiers commented on #84
Thanks for reporting @mbaumbach, I'll have a look at it.

[2018-04-16 16:26] #84 closed

[2018-04-19 19:47] ericmartineau opened #86 "Tree parsing question"
I have some custom formatting tags that I'm working with, that would look something like this

[code]

This is the tree that's generated, which seems off to me, but I'm wondering if I'm not understanding something.  Specifically, I'm wondering why the "yellow" atom was embedded in the `{%yellow%}` tag, but the green atom wasn't.

[code]

[2018-04-19 20:13] ericmartineau commented on #86
Here's a simple test to verify the template above, I'm happy to submit it as a PR:

[code]

The test fails with this output:

[code]

[2018-04-19 20:19] ericmartineau commented on #86
Yes. I'm an idiot.  My template was wrong.

[2018-04-19 20:19] #86 closed

[2018-04-20 05:02] bkiers commented on #86
Nice, Eric! Thanks!

[2018-06-12 01:55] mbaumbach opened #89 "Suggestion: Reserve Java module name"
I'm not sure what the effort is to adopt this library to the Java module system, but in doing this with my own work, I've found it's good to [follow this advice](http://branchandbound.net/blog/java/2017/12/automatic-module-name/) and reserve a module name before even moving a library to be modular. This is as simple as modifying the main pom.xml:

[code]

This allows consumers using Java 9+ module

[2018-06-17 09:45] bkiers commented on #89
Hi Marc! Thanks, modules sound like a good addition to this lib.

I haven't done any real Java development in the past couple of years, so I'm not mr. current affairs w.r.t. Java 8 or later. So excuse the (perhaps) naive questions:

- when supporting modules, will the source- and/or target of the `maven-compiler-plugin` also be upped to Java 9?
- will the group-id and/or artifact-id in the POM nee

[2018-06-18 13:40] mbaumbach commented on #89
Not naive questions at all, I'm a very active Java developer and all of this module stuff is just starting to become something I pay attention to. :)

To answer those questions:

- The source and target do not need to be modified yet. The presence of the `Automatic-Module-Name` in the `MANIFEST.MF` will mean that people who consume the library and are running in a Java 9+ modular environment, will

[2018-06-20 06:29] bkiers commented on #89
Thanks for the elaborate explanation!

That'd be great!

[2018-06-21 02:08] mbaumbach commented on #89
Thanks for merging the change in! Do you have any plans to push out a new release to Maven Central with the changes since you've adopted ANTLR4?

[2018-06-22 11:17] bkiers opened #91 "0.7.4 release"
@mosabua could you cut a new release to Maven Central from `master`?

[2018-06-22 11:18] bkiers commented on #89
Yes, I've asked Manfred for a new release to Maven Central: https://github.com/bkiers/Liqp/issues/91

[2018-06-23 03:27] mosabua commented on #91
Tag and commits pushed.

https://github.com/bkiers/Liqp/tree/0.7.4
https://github.com/bkiers/Liqp/commits/master

[2018-06-23 03:29] mosabua commented on #91
Once sync is done release will be at http://repo.maven.apache.org/maven2/nl/big-o/liqp/0.7.4/

Closing the issue. Let me know if sync is not done by tomorrow.

[2018-06-23 03:29] #91 closed

[2018-06-23 03:29] mosabua commented on #89
Release done .. so this can probably be closed..

[2018-06-23 08:00] #89 closed

[2018-06-23 08:02] bkiers commented on #91
Thanks @mosabua, I will let you know and make some release notes.

[2018-06-23 15:11] bkiers commented on #91
https://github.com/bkiers/Liqp/releases/tag/0.7.4

[2018-06-29 14:14] bmateusz opened #92 "0.7.4 performance"
The latest release seems slower, I benchmarked with our project:
0.7.2: 20.49 secs
0.7.3: 21.162 secs
0.7.4: 48.954 secs

Anyone else experienced this? We don't use any advanced features.

[2018-06-29 18:55] bkiers commented on #92
Hmmm, some things are faster, like custom tags: https://github.com/bkiers/Liqp/issues/37

Could you include your benchmark(s) code?

[2018-06-30 12:01] bmateusz commented on #92
I can't since it's not open source. I will try to make a small example.

[2018-07-06 16:37] mbaumbach commented on #92
I'm also experiencing this and seems to be much more pronounced with larger templates. I found a mention in the ANTL4 readme about using a [two-stage parsing process to fix performance issues](https://github.com/antlr/antlr4/blob/master/doc/faq/general.md#why-is-my-expression-parser-slow).

I've submitted a PR #93 which implements a similar suggestion and I saw templates that were taking 100ms to

[2018-07-06 17:18] mbaumbach commented on #92
I don't think this entirely resolves the issue though. I created a simple "benchmark" here: https://gist.github.com/mbaumbach/e6e5114bb9220fdd37088608dab9e463

And here's the timings for the various versions:

[code]

So it's a pretty big improvement, but still pretty far off from 0.7.3 performance.

[2018-07-10 07:39] bkiers commented on #92
Again, thanks @mbaumbach. When I find the time, I'll see if I can do some testing/profiling to see if I can pin-point some hotspots. Your PR has been merged but we'll leave this issue open for now.

[2018-07-10 09:12] bmateusz commented on #92
Thanks @mbaumbach, looks much better! 👍
Although it seems to me that the performance problem is with antlr4

[2018-07-22 20:33] jvanzyl commented on #75
I just got around to trying this (sorry it's so late), and this appears to be allowed in Jekyll but will not parse with Liqp:

[code]

Shall I make a new issue?

[2018-07-28 16:56] mbaumbach commented on #92
@bkiers @bmateusz I think we're getting a little closer to finding the culprit. I think the problem is with the LiquidLexer.g4 definition. I found that if I removed the stripSpacesAroundTags and stripSingleLine portions of the out and tag start/end definitions, it greatly improved the speed. The modified code is: https://gist.github.com/mbaumbach/454c179dcd08f1837edebb3987a34a30. Obviously this do

[2018-08-02 13:38] bkiers commented on #92
Nice work @mbaumbach! I've just got back from holiday, so I've got some other work lined up for now, but I will get back on this. Thanks.

[2018-08-02 13:42] bkiers commented on #75
I've just got back from 2 weeks Scotland, hence the delayed response.

No problemo @jvanzyl, and yes, please create a new issue for this.

[2018-08-02 14:21] mbaumbach opened #94 "Comment blocks fail to parse if start or end tag is found inside"
Based on the [definition of a Comment tag](https://shopify.github.io/liquid/tags/comment/), it appears that anything between a `{% comment %}` and `{% endcomment %}` should simply be omitted from the output:

However, the following code fails to parse:

[code]

The exception generated:

[code]

I think the problem is the `comment_body` definition in `LiquidParser.g4`:

[code]

I would think this m

[2018-08-02 14:39] jvanzyl opened #95 "Includes with path characters appear invalid"
Exception in thread "main" java.lang.RuntimeException: could not parse input: {% include wmt/html-head.html %}

<div class="wrap">
  {% include wmt/header.html %}
  <div class="margin-bottom-20"></div>
  <div class="container">
    {{content}}
  </div>
</div>

{% include wmt/footer.html %}

I took a cursory look at the grammar and appears that allowing the '/' in there would fix this?

[2018-08-03 09:59] #94 closed

[2018-08-03 09:59] #95 closed

[2018-08-03 10:00] bkiers commented on #95
Indeed, added `/` and `\` to the lexer. Thanks!

[2018-08-03 10:05] bkiers commented on #94
Close, but since `other` only matches one or more `Other` tokens (which does not inluce `TagStart` and `OutStart` tokens), I defined it like this instead:

[code]

where `.*?` un-greedily matches zero or more tokens until `tagStart CommentEnd TagEnd` is matched.

Thanks for the report!

[2018-08-03 15:08] efenderbosch opened #98 "0.7.4 has many more dependencies than 0.7.3"
Maybe some build/test dependencies are accidentally being included in compile scope? This has implications for dependency convergence, especially for people on newer versions of maven.

tree generated using ``mvn dependency:tree``

0.7.3 tree:

[code]

0.7.4 tree:

[code]

[2018-09-05 18:29] bkiers commented on #98
Thanks for reposrting @efenderbosch

Thanks to @JD557 `master` now looks like this:

[code]

[2018-09-05 18:29] #98 closed

[2018-09-05 18:31] bkiers opened #101 "0.7.5 release"
@mosabua could you cut a new release to Maven Central from `master` when you have the time?

[2018-09-06 03:16] mosabua commented on #101
Sure. Everything ready I assume.

[2018-09-06 03:26] mosabua commented on #101
Updated junit to 4.12. jsoup can also be updated but I wont touch that.

[2018-09-06 03:36] mosabua commented on #101
Release performed to oss.sonatype.org, tag pushed, sync to Central initiated, should be there soon

https://github.com/bkiers/Liqp/tree/0.7.5

Keep an eye on http://repo1.maven.org/maven2/nl/big-o/liqp/

[2018-09-06 04:42] mosabua commented on #101
Now available. http://repo1.maven.org/maven2/nl/big-o/liqp/0.7.5/

Please perform any other release related tasks I am not aware of @bkiers

[2018-09-06 13:10] bkiers commented on #101
Many thanks @mosabua!

Release notes available here: https://github.com/bkiers/Liqp/releases/tag/0.7.5

[2018-09-06 13:10] #101 closed

[2018-09-20 14:05] mbaumbach commented on #92
With the work from @JD557 in #103, this is almost back to the performance numbers we saw in 0.7.3 and you may be able to chalk up the difference to ANTLR3 and 4 differences. I'm interested in what @bmateusz sees, as the performance is greatly improved in my apps now.

[2018-09-20 17:29] JD557 opened #104 "Support `default` filter when `strictVariables` is enabled"
Currently `{{x | default: 1}}` will fail if the `strictVariables` setting is enabled. I'm not sure if this is the intended behavior, since the template should work as expected when `x` is undefined.

It might be a PITA to refactor the code to support this, though.

What's your opinion on this?

[2018-09-21 06:32] bkiers commented on #104
Hmmm, that's a tricky one.

Both this Ruby snippet:

[code]

as wel as this one:

[code]

produce the following output:

[code]

In other words: Ruby renders the template just fine, and handles the templates identical. Liqp also handles both templates identical, but throws an exception in both cases.

Instead of allowing `'{{ x | default: 1 }}` and rejecting (as Liqp does now) `'{{ x }}` in strict

[2018-09-21 10:04] JD557 commented on #104
I was expecting `'{{ x | default: 1 }}'` to return `'1'`, but since the reference implementation also returns `''`, I'm OK with closing this issue.

[2018-09-23 21:03] #104 closed

[2018-09-28 09:39] bkiers commented on #98
No, it has a `test` scope:

    [INFO] \- junit:junit:jar:4.6:test
                                  ^^^^

[2018-10-27 09:45] bkiers opened #105 "0.7.6"
@mosabua could you once again cut a new release to Maven Central from when you have the time? `master` is ready for a new release.

[2018-10-27 19:57] mosabua commented on #105
Release build done and deployed OSSRH. Released there done and sync to Central started.

[2018-10-28 10:11] bkiers commented on #105
Great, thanks @mosabua!

Release: https://github.com/bkiers/Liqp/releases/tag/0.7.6

[2018-10-28 10:11] #105 closed

[2018-11-13 11:25] skfs opened #106 "Round.java default is HALF_EVEN"
Hi.
The "round" filter (`Round.java`) uses the default rounding in `DecimalFormat.class` which is `HALF_EVEN`.
I believe that `HALF_UP` may be the correct, but I have no data/reference to back this up.
`HALF_UP` rounds all numbers up when the decimal is higher or equal to `.5`, whereas `HALF_EVEN` rounds to the nearest neighbour (as do `HALF_UP`), but when equal distance to the neighbour, it round

[2018-11-13 11:38] skfs opened #107 "Some of the older filters are not public classes"
Some of the older filters are not public classes - this means that we cannot use them for testing, nor extend their functionality.
In our case, we have a String-like class (called "SafeString"), which sometimes is used and passed into the filters. We'd like to accommodate for this by extending some of the currently non-public filter classes by extracting the "non-safe" (and original String.class)

[2018-11-13 11:48] skfs commented on #106
Actually I just created a temporary Shopify shop and made a template that uses `{{ 10.5 | round }}` .
The final result is: `11`, so Shopify rounds HALF_UP.

[2018-11-13 14:11] mbaumbach commented on #106
@skfs @bkiers I submitted a pull request that switches this to `HALF_UP` `RoundingMode`.

[2018-11-13 18:45] bkiers commented on #106
Thanks for raising the issue @skfs and @mbaumbach for the quick fix!

[2018-11-13 18:45] #106 closed

[2018-11-13 18:59] skfs commented on #107
Updated the code example, as there were some typos in there.

[2018-11-13 19:00] skfs commented on #107
@bkiers, just out of curiosity; is there a particular reason for the listed classes not to be public?

[2018-11-13 21:08] bkiers commented on #107
I can't remember :) I think I didn't envision built-in filters to be extended perhaps...

[2018-11-13 21:10] #107 closed

[2018-11-13 23:12] sj5000 opened #110 "Arithmetic Operators (Numbers in String form)"
Should you check for "canBeInteger" here as well and other places where arithmetic operators are used? It doesn't seem to match the original liquid implementation of Shopify where integer - integer => integer

https://github.com/bkiers/Liqp/blob/master/src/main/java/liqp/filters/Minus.java#L21

[2018-11-14 08:18] bkiers commented on #110
Hi, could you indicate how it exactly differs from the original?

[2018-11-14 08:36] bkiers commented on #110
Wait, I read `isInteger(...)` but you said `canBeInteger(...)`. Hmm, yes, you may be right. I'll check.

[2018-11-14 08:44] bkiers commented on #110
This ought to do it, I think: https://github.com/bkiers/Liqp/pull/111

[2018-11-14 18:20] sj5000 commented on #110
Thanks!

[2018-11-14 19:06] #110 closed

[2018-11-14 19:42] sj5000 commented on #110
thanks @bkiers for merging, mind releasing this in 0.7.7?

[2018-11-15 08:45] bkiers opened #112 "TODO update Examples with newer APIs"
☝️

[2018-11-15 08:52] bkiers commented on #112
Never mind, `Template#with(...)` methods already in the README

[2018-11-15 08:52] #112 closed

[2018-11-16 01:13] sj5000 commented on #110
Hi @bkiers, any idea when you plan to release this? I was kind of doing local hack on my end to getaround this problem, but if you are going to release this soon, I might as well use the released version. Thanks again for fixing this.

[2018-11-18 09:46] bkiers opened #113 "0.7.7 release"
@mosabua could you cut a new release to Maven Central from `master`?

[2018-11-18 09:48] bkiers commented on #110
@sj5000 https://github.com/bkiers/Liqp/issues/113

[2018-11-18 23:45] mosabua commented on #113
Release performed and deployed to OSSRH.

[2018-11-18 23:46] mosabua commented on #113
Pushed tag https://github.com/bkiers/Liqp/tree/0.7.7

[2018-11-18 23:48] mosabua commented on #113
Released from OSSRH to Central. Should be synced soon.
Check here http://repo.maven.apache.org/maven2/nl/big-o/liqp/

[2018-11-18 23:48] mosabua commented on #113
So all done on my end. I will leave readme update and so on to you @bkiers

[2018-11-19 08:37] bkiers commented on #113
Great, thanks @mosabua

Release: https://github.com/bkiers/Liqp/releases/tag/0.7.7

[2018-11-19 08:37] #113 closed

[2018-11-19 08:39] bkiers commented on #110
0.7.7 is available: https://github.com/bkiers/Liqp/releases/tag/0.7.7

[2018-11-19 14:53] sj5000 commented on #110
thanks @bkiers

[2018-11-25 21:44] efenderbosch opened #114 "Liquid page on shopify.com has moved"
README.md points to http://wiki.shopify.com/Liquid, but that's 404. Should probably point to https://help.shopify.com/en/themes/liquid now.

[2018-11-25 22:07] mbaumbach commented on #114
Perhaps https://shopify.github.io/liquid/ is a better location? That contains the subset of filters compared to what is typically available in a Shopify Liquid theme due to shop, locale, and currency contexts that are available in a Shopify store.

For example, the [money filters](https://help.shopify.com/en/themes/liquid/filters/money-filters) are available in Shopify themes, but not in the open

[2018-11-25 22:18] bkiers commented on #114
Done: https://github.com/bkiers/Liqp/commit/3a89d8ad6c7209200b852edb11a6067713ee42a3

Thanks for the heads up @efenderbosch

[2018-11-25 22:18] #114 closed

[2018-11-26 21:51] nguyenaiden opened #115 "CanBeInteger check when value has whitespace"
For the canBeInteger check, if the value coming in is actually a Number in string form but has leading and trailing white spaces, it is throwing a false. For example,
[code]
`foo` in this case actually evaluates to 1.0.
Is adding `.trim()` to the value in canBeInteger a possible solution?

[2018-11-27 13:31] bkiers commented on #115
Thanks for reporting @nguyenaiden!

[2018-11-27 13:31] #115 closed

[2018-11-29 17:15] nguyenaiden commented on #115
Hey @bkiers! Do you know when you would be releasing the new changes?

[2018-12-03 21:15] bkiers commented on #115
Hi @nguyenaiden 0.7.7 has just been released, so 0.7.8 will be release in a couple of weeks with (perhaps) some other fixes.

[2018-12-03 21:18] bkiers commented on #92
Any objections in closing this issue, or is someone still working on something?

Again, thank you all for your great help!

[2018-12-03 21:19] mbaumbach commented on #92
@bkiers I'd agree with it being closed. Performance is pretty close to what it was at!

[2018-12-03 22:47] #92 closed

[2019-01-07 09:43] bkiers opened #118 "0.7.8 release"
Hi @mosabua could you once more cut a new release to Maven Central from `master`?

Not much new in master, but I'd like this security issue fixed: https://nvd.nist.gov/vuln/detail/CVE-2018-19360

[2019-01-07 09:43] bkiers commented on #115
@nguyenaiden FYI: https://github.com/bkiers/Liqp/issues/118

[2019-01-15 18:04] mbaumbach opened #119 "Should first and last array filters return the object in the arrays?"
While the examples are a bit light in the [docs](https://shopify.github.io/liquid/filters/first/), it seems like the `first` and `last` filters should simply return the first and last objects in the array and not try to coerce them into strings using `asString`. The following ways of accessing an array return different results:

[code]

I'm happy to submit a pull request if we agree this is the ri

[2019-01-15 21:17] bkiers commented on #119
Hi @mbaumbach,

When I run the following in Ruby:

[code]

the following is printed:

[code]

So, yes, you are right: `| first` and `| last` should not _stringify_ what they return.

Cool!

[2019-01-16 09:19] #119 closed

[2019-01-18 02:40] mosabua commented on #118
Released from SFO

[2019-01-18 02:41] mosabua commented on #118
Staging to OSSRH done.

[2019-01-18 02:43] mosabua commented on #118
Somehow it staged into two separate staging repositories. I will have to try again.

[2019-01-18 02:58] mosabua commented on #118
Seems like network is just too slow. I will retry tomorrow from home.

[2019-01-18 18:01] mosabua commented on #118
Staged again now. All good. Now released. Should be synced to Central shortly.

[2019-01-18 18:04] mosabua commented on #118
Tag pushed https://github.com/bkiers/Liqp/tree/0.7.8

[2019-01-18 20:53] bkiers commented on #118
Thanks @mosabua!

Release notes: https://github.com/bkiers/Liqp/releases/tag/0.7.8

[2019-01-18 20:53] #118 closed

[2019-03-21 03:27] msangel opened #124 "Error in include cause include not rendering."
I will fix that by adding optional rendering flag that will cause exception instead of silently return empty line.

See https://github.com/msangel/Liqp/pull/1 for current progress

Things included in merge request:

- `RenderSettings.showExceptionsFromInclude` field and its processing
- one another renderer (will create test cases where I will demonstrate why its needed)
- `Date` tag can be custom

[2019-03-21 12:35] bkiers commented on #124
Great @msangel! Yes, I'd appreciate separate PR's if the changes are not related to each other. Separate PR's also make creating release notes much easier.

[2019-03-28 15:41] hartfelt opened #125 "Handling of maps in for-loops"
Hello,

According to https://github.com/shopify/liquid/wiki/Liquid-for-Designers it should be possible to iterate a map with a forloop, like:

[code]

I don't see any mention of this on https://shopify.github.io/liquid/tags/iteration/ though, but a quick test show that it is indeed supported by the ruby version:

[code]

However, the current handling in liqp is to wrap the entire map in a list, re

[2019-03-28 20:29] bkiers commented on #125
@hartfelt thanks for your detailed report. I will get back to you this weekend.

[2019-03-29 08:40] hartfelt commented on #125
@bkiers Thanks for the quick reply. I'll look forward to your further comments :)

[2019-03-29 15:11] msangel opened #126 "Make code compatible with java8 date api"
Currently the `java.time.Instant` class is not recognized as date type. Also it would be nice to have compatible api.  The library have java7 compatibility so we cannot use Instant in it, but we should provide east way to plug it in.

[2019-03-29 15:19] msangel commented on #126
Sample usaga after applying fix:
[code]

Note: this will override old date type, so if you want to have multiple supported types, this support should be made in scope of one overridden instance.

[2019-03-29 15:50] msangel opened #129 "Decrease usage of deprecated internally and better test coverage"

[2019-03-29 16:07] msangel commented on #129
Discussion goes here.

[2019-03-29 16:24] msangel commented on #124
Created separate merge requests

[2019-03-29 16:30] msangel opened #132 "Rendered bug"
[code]

[2019-03-29 16:53] msangel commented on #125
Actually this is the same problem as I tries to solve here https://github.com/bkiers/Liqp/issues/132

[2019-03-29 17:08] msangel commented on #125
Working on my solution for cover this case too.

[2019-03-29 17:46] msangel commented on #132
Pick one:
https://github.com/bkiers/Liqp/pull/133
https://github.com/bkiers/Liqp/pull/134

[2019-03-29 18:33] #125 closed

[2019-03-29 18:35] bkiers commented on #125
Thanks, your solution was spot on. I only needed to unwrap the stream/collect calls since it (still) needs to be Java 7 compliant.

[2019-03-29 18:37] msangel commented on #132
The second is broken. Not evrything can be converted to map. Simplest failing case: String.

[2019-03-29 18:38] msangel commented on #132
Well. Need more work on this.

[2019-03-30 01:47] msangel commented on #132
My try \#<span>4 seems to be latest fix.

[2019-04-01 09:54] hartfelt commented on #125
Great! Thanks for the quick resolution :+1:

[2019-04-01 12:06] bkiers commented on #132
Thanks @msangel for your contributions, much appreciated! I will have a look shortly.

[2019-04-15 21:13] bkiers commented on #132
I had hoped to have a look at your PR's @msangel, but I didn't find the time yet. Kind of a hectic few weeks. Just a quick message that I didn't forget!

[2019-04-23 18:03] #126 closed

[2019-04-23 18:07] #129 closed

[2019-04-23 18:14] #124 closed

[2019-04-23 18:40] msangel commented on #132
Done.

[2019-04-23 18:40] #132 closed

[2019-04-23 18:41] bkiers commented on #132
Yes, fixed by `fix/132_3`

[2019-04-23 18:42] bkiers opened #137 "Fix unit test includeDirectoryKeyInInputShouldChangeIncludeDirectory()"
Check why `includeDirectoryKeyInInputShouldChangeIncludeDirectory()` fails on `master`

[2019-04-23 18:44] bkiers commented on #132
Again, thanks @msangel. With all the merging, I did break something, I think. See https://github.com/bkiers/Liqp/issues/137. I'll have a closer look in a few days, but if you can easily spot what went wrong, feel free to send a PR 😉

[2019-04-23 18:47] msangel opened #138 "`where` filter support"
I have it already implemented here:
https://github.com/msangel/javyll/blob/master/src/main/java/ua/co/k/javyll/plugins/liquid/goodies/WhereFilter.java
But I will just port it to java7.
And add some tests.

[2019-04-23 18:48] msangel commented on #138
And will add support for null detection:
https://jekyllrb.com/docs/liquid/filters/#detecting-nil-values-with-where-filter400

[2019-04-23 18:49] msangel commented on #137
Ok.

[2019-04-23 19:13] msangel commented on #137
Fixed here:
https://github.com/bkiers/Liqp/pull/139

[2019-04-24 06:20] #137 closed

[2019-04-24 06:21] bkiers commented on #138
Nice!

[2019-07-18 07:09] benfortuna opened #141 "Support for properties (dot notation)"
Not sure if this should work or not. Given an object:

[code]
Currently this will resolve to an object:

[code]

But this will not (`liqp.exceptions.VariableNotExistException: Variable 'resource.title' does not exists`):

[code]

[2019-07-24 08:53] bkiers commented on #141
There is a way to do that. Have a look at https://github.com/bkiers/Liqp/blob/master/src/main/java/liqp/Template.java#L307 and the unit tests in https://github.com/bkiers/Liqp/blob/master/src/test/java/liqp/TemplateTest.java#L28

In your case, do this:

[code]

and `rendered` mill now be `"MU"`

[2019-07-24 08:53] #141 closed

[2019-07-24 08:55] bkiers commented on #141
As a `Map` is also possible, btw:

[code]

[2019-07-25 01:32] benfortuna commented on #141
Ok, I am actually trying the Map version and it doesn't work for me. The complete example is actually using a javax.script.Bindings object as the Map, as I'm trying to make a simple liquid template engine:

https://github.com/micronode/whistlepost/blob/develop/extensions/whistlepost-scripting-liquid/src/main/java/org/whistlepost/scripting/liquid/LiquidScriptEngine.java#L29

Result of this input is

[2019-07-25 08:38] bkiers commented on #141
If you could post code so that I could reproduce this in a unit test, I could have a look at it.

[2019-08-16 06:01] ozkanpakdil opened #144 "is there an example to use it in spring boot"
Hi

I checked but could not find any docs. is it possible to use liqp as template engine in spring boot ? or are there any doc how to do it ?

Thanks

[2019-08-30 06:34] ozkanpakdil commented on #144
I wrote example to use viewresolver and liqp with it. but I am having problems about a public class. somehow its fields not coming in to the requested page. can you check https://github.com/ozkanpakdil/spring-examples/tree/master/gitpages the class Dana has title and spekerName but its not rendered.

Thanks

[2019-10-09 17:13] msangel opened #146 "Filters should be aware about ParseSettings"
Especially about Flavor field.
The shared ObjectMapper instance also nice to have.
This is partially required for https://github.com/bkiers/Liqp/issues/138 wich I am _slowly_  working on.

I will implement this myself.

[2019-10-09 19:11] msangel commented on #146
Already exists, sorry.
public Object apply(Object value, TemplateContext context, Object... params)

[2019-10-09 19:11] #146 closed

[2019-10-19 02:21] msangel opened #147 "'blank' support"
There is one yet not supported literal: 'blank'
See details here: https://github.com/Shopify/liquid/blob/master/lib/liquid/expression.rb#L22
It's actually the same as 'empty' wich is supported, but still this one is 'blank'.

I already have this literal support in my branch but will create separate MR, as it need to have nicer code coverage.

[2019-10-20 00:43] msangel commented on #147
Conclusion:
The 'blank?' **not works** out of box of liquid till the RoR is not loaded as this message support came from there: https://stackoverflow.com/a/888877
And there is no chance that RoR will be ported to java, so templates will support this as a literal, but will not mimic the RoR logic behind that.

[2019-10-20 02:21] pmenhart opened #149 "Details of parsing errors are hidden. Why?"
When the template has errors, we'd like to aid the user to pinpoint the cause.
Lexer and Parser report details, e.g. `parser error on line 67, index 26`, but this exception is replaced with a generic message `could not parse input` (see the [Template constructor](https://github.com/bkiers/Liqp/blob/a858c3864442bc0513fc6a9f1214c4c4db126d6d/src/main/java/liqp/Template.java#L78)).
What is the reason

[2019-10-20 03:37] pmenhart commented on #149
The `exception.cause` contains description of the error (possibly hierarchical).
However, we have to dig and parse internal details to make use if it.

There is a regression caused by upgrade from ANTLR v3 to v4: commit [Error handling proof of concept](https://github.com/bkiers/Liqp/commit/56921c871e7631b539d255cbdb6a3f7fad53b754) introduced `LiquidException` with explicit fields `line` and `char

[2019-10-20 20:24] bkiers commented on #144
Try making `title` and `speakerName` public instance variables.

[2019-10-20 23:31] msangel opened #150 "Replace toArray result when input is null."
For more safe coding its conviniant to use null-objects instead of null.
So this return:

    public Object[] asArray(Object value) {

        if(value == null) {
            return null;
        }
    .....

from `LValue` class will be better to replace with  `return new Object[]{};`.
And most important - in this case the behavior of this method will be exactly as ruby do:
![image](https://user-i

[2019-10-20 23:41] msangel commented on #150
No tests fail on this change, so its good

[2019-10-21 06:51] ozkanpakdil commented on #144
Thanks for the answer but it did not work. you can see it in the repo I shared before.

[2019-10-21 17:33] #147 closed

[2019-10-21 17:33] #150 closed

[2019-10-21 17:34] bkiers commented on #144
Hmmm, when I checked your `Dana` file, I could have sworn I didn't see the `public` keyword...

[2019-10-21 17:41] bkiers commented on #144
Anyway, I tried to run your spring boot app, but there are some methods that could not be resolved (automatic getters and setters that are probably generated by Lombok).

If you look in the `TemplateTest.renderObjectTest()` test, you will see that a POJO class gets rendered properly. Why it doesn't do so in your MVC app, I do not know.

[2019-10-21 17:41] #144 closed

[2019-10-21 18:07] bkiers commented on #149
Hi Peter, thanks for reporting. Yes, (parser) syntax errors should be LiquidExceptions with line- and column (index)-numbers.

[2019-10-21 18:48] pmenhart commented on #149
Hi Bart,

I found only yesterday that ANTLRErrorListener callbacks from Lexer and
Parser provide (the most reliable) information about the error in a
parameter `msg`.
I prepared an alternative implementation (configurable, if backwards
compatibility is important) here
<https://github.com/pmenhart/Liqp/commit/5493437fde37598f6e9e71b484b5b2e21893f644>.
Unfortunately I didn't send a PR right away.
Yo

[2019-10-21 18:56] bkiers commented on #149
Hey Peter,

Yes, that is impofrtant.

Yes, that would be good. Feel free to submit a PR for it.

[2019-10-22 02:01] pmenhart commented on #149
I created a PR #155, with a hope you'll approve.
Also a PR #156, with a hope you'll reject :-)

[2019-10-23 07:52] bkiers commented on #149
Thanks @pmenhart!

[2019-10-23 07:54] #149 closed

[2019-10-23 07:57] bkiers opened #157 "0.7.9 release"
Hi @mosabua could you cut a new release to Maven Central from `master`?

[2019-10-23 15:23] ozkanpakdil commented on #144
I know it looks like MVC is the reason for not rendering problem but I must point out.  in https://github.com/ozkanpakdil/spring-examples/blob/master/gitpages/src/main/java/com/mascix/starter/LiqpView.java lines below also generating empty titles and speaker names. which not directly related to MVC. I tried to giving template as string to also it did not change the result. I read the render functi

[2019-10-23 15:56] bkiers commented on #144
☝️

[2019-10-23 21:00] mosabua commented on #157
Sure.. I can do it tonight probably.

[2019-10-23 21:23] bkiers commented on #157
Great, thanks, no hurry.

[2019-10-24 00:18] mosabua commented on #157
Ran prepare only to find no gpg key on my machine here.. have to work on the desktop in the next to finish off this release.

[2019-10-24 16:04] ozkanpakdil commented on #144
I have a class with main function has the same result here it is https://github.com/ozkanpakdil/liqptest

[2019-10-24 21:01] bkiers commented on #144
When I run your `TestingLiqp` class, I get:

[code]

[2019-10-25 05:35] mosabua commented on #157
Had to create a new gpg key and got it synced to various keyservers. Deployed to ossrh ... still failed gpg check. Will let it simmer over night and try again then .

[2019-10-25 06:24] ozkanpakdil commented on #144
hmm now we have a interesting case :) I have ```C:\Windows\system32>java -version
java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)```

and I thought maybe intellij making something and ran the class from command line with mvn ```D:\Projects\liqp>mvn exec:java -Dexec.mainClass="com.mascix.TestingLiqp"
[IN

[2019-10-25 07:31] bkiers commented on #144
I copied your main class in my project with `0.7.9-SNAPSHOT`, but with `0.7.8` it indeed shows the same. It appears the `Dana` objects are not properly converted into `java.util.Map`s and therefor the keys `title` and `speakerName` could not be resolved. This was fixed in March: https://github.com/bkiers/Liqp/commit/2eb6bc8426c566db4c7f69297205e89324c2809a#diff-38af1b265e88e8390ac4e2a63aa61f32R348

[2019-10-25 17:51] ozkanpakdil commented on #144
Oh I am happy to hear that :) have a good weekend

[2019-10-25 17:53] mosabua commented on #157
Published on OSSRH now. Should be on Central soon.

[2019-10-25 18:03] mosabua commented on #157
Should be at https://repo.maven.apache.org/maven2/nl/big-o/liqp/ soon

[2019-10-25 18:04] mosabua commented on #157
Do you want me to update the readme or something else @bkiers ?

[2019-10-25 19:40] bkiers commented on #144
You too @ozkanpakdil!

[2019-10-25 19:41] bkiers commented on #157
@mosabua no, I will write up the release notes and update the README. Thanks @mosabua!

[2019-10-25 20:03] bkiers commented on #157
New release is available in Maven Central: https://search.maven.org/artifact/nl.big-o/liqp/0.7.9/jar

Release notes: https://github.com/bkiers/Liqp/releases/tag/0.7.9

[2019-10-25 20:03] #157 closed

[2019-10-25 20:06] bkiers commented on #144
FYI Liqp version 0.7.9 is available in Maven Central. SO if you update your POM, it all should work.

https://github.com/bkiers/Liqp/releases/tag/0.7.9

[2019-10-25 20:49] mosabua commented on #157
https://repo.maven.apache.org/maven2/nl/big-o/liqp/0.7.9/

[2019-10-26 08:44] ozkanpakdil commented on #144
good news :) now I can finish my tests. I am trying to put liqp to https://github.com/jreijn/spring-comparing-template-engines let see the numbers :)

[2019-10-26 08:50] bkiers commented on #144
Nice!

I think Liqp is not going to be very fast though 🐢 😄

[2019-10-27 08:15] ozkanpakdil commented on #144
Well I have good news. liqp is around jsp speed. which is the fastest in the list 😄 you can see the result here https://github.com/ozkanpakdil/spring-comparing-template-engines/blob/master/results.txt I must say I did not run these tests in a real server setup. just my laptop.

I also need to inform you I had some issues about rendering. there are some special objects was in the hashmap and it was

[2019-10-27 16:48] msangel opened #158 "Unexpected transformation of Map in `LValue.asArray`"
The [fix](https://github.com/bkiers/Liqp/issues/125) must affect only  the "for" tag behavior, but should not affect other cases.
Existent code cause this test case to be broken:
[code]

The fix to this is on the way.

[2019-11-07 03:28] pmenhart opened #162 "Breaking change in release 0.7.9 caused by new renderer helper"
I am scratching my head about solving the problem #132 by copying the whole map to JSON and back to map, as implemented in #136 (details on [line 347-348](https://github.com/bkiers/Liqp/pull/136/commits/2eb6bc8426c566db4c7f69297205e89324c2809a#diff-38af1b265e88e8390ac4e2a63aa61f32R347-R348) ).

Performance impact aside (double transformation is expensive, especially if only a small subset of value

[2019-11-07 21:12] msangel commented on #162
Have only one _opinion_:
It's better to keep everything as Lists and Maps in data models, so all the stuff around (filters for arrays, and so on) will have limited types of entities to work with.

Regarding that fact that this is breaking change - agree, but anycase before it haven't worked as expected.

[2019-11-07 21:45] msangel commented on #162
For example: open implementation of `map` filter. And now assume that we must handle raw properties of POJOs... When all is map or list/array - its much simple here.

[2019-11-08 01:55] pmenhart commented on #162
If I understand your opinion correctly, POJOs should not be allowed in data models. Instead of library being responsible for that, **the caller has to explicitly convert** the POJO object to a map (or wrap the object with a Map wrapper, as I mentioned above).

I rewrote example from #132 with an explicit user conversion. For convenience, I am using `com.fasterxml.jackson.databind.ObjectMapper` alr

[2019-11-08 02:39] msangel commented on #162
_In my opinion_, the view objects should not contain anything that is not serializable(i.e. cannot be converted by mapper to data tree). And this looks essential for me.  Noone tries to put, for example, the Thread object to Spring MVC Model, or mentioned above map with lazy computing.

That MR do not rejecting POJOs, it's making opposite: allow POJOs in data model - reading its properties, iterat

[2019-11-18 15:14] bkiers commented on #162
Hey all, I now just see a the open issues... Will look into them this week.

[2019-11-18 21:12] msangel commented on #162
@pmenhart
Ok, I think I found tradeoff for solving your problem (allow lazy objects in data model) and another my problem(real object may contain more fields then possible/need to serialize) and easiness of support custom types in filters/nodes.
Here's sample implementation:
https://github.com/msangel/Liqp/commit/2ba7a2ddac041b1881af9c10763d52a5d4e5b549

In general:
1) I still serialize everything

[2019-11-18 21:19] msangel commented on #162
Also if you are good in manipulate Jackson internals, you can alter my code and replace abstract class with interface.

[2019-11-19 14:32] pmenhart commented on #162
Core of the problem is "I still serialize everything to JSON tree". The library is trying to outsmart the user, bringing incompatibility and considerable performance penalty as a consequence.
My suggestion is to leave the decision to the user. If their data need transformation or wrappers, then let the user to massage the data. The library could contain support for such transformation as utility m

[2019-11-19 14:39] msangel commented on #162
So your idea is to reject access POJOs properties in nodes/filters forcing users to use data model only with java.util.Map if they will want such possibility?

[2019-11-19 20:10] pmenhart commented on #162
Well, I suggested to support POJO properties in nodes, see above.
You opposed: "It's better to keep everything as Lists and Maps in data models". Perhaps we just misunderstood each other here.

Core difference between our approaches is lazy vs. eager evaluation of data model.
If @bkiers or broader community wants eager evaluation unconditionally baked into the library, then such code should be rel

[2019-11-19 20:44] msangel commented on #162
Even if the eager evaluation of data model is preferable and looks essential **_for me_**, it has own drawback: everything is serialized. And the trick is that not everything can be serialized.  So I agree with you in that that the serialization should be matter of choice(and lets the user takes the responsibility for serialization problem).

And 2 options for this:
1) add rendering options ('lazy

[2019-11-20 04:07] pmenhart commented on #162
I like the idea of rendering options ('lazy' vs 'eager'). Note that I created PR #163 with a hope it will be useful regardless of which decision will be made here.

[2019-11-20 06:36] msangel commented on #162
Still don't clear how to implement support of 'map' filter/property access for POJO in case of 'lazy'. The Jackson convert the data tree entire, so we cannot to postpone the  POJO's child serialization to later time.

So that's why I vote for marker interface. As we can make a mix of: 1)objects that will not be serialized and so inspected; 2) java.util.Map - these will be inspected via their API;

[2019-11-21 10:21] msangel commented on #162
Ok, now I see that it easy to do both. The "eager" render option will cause data model object to be wrapper inside of `LiquidSupport` interface. That's just another few lines of code on top interface-based decisioning.

And unexpected question to @bkiers : why the mapper is inside of ParseSettings object but not RenderSettings? Data converting/processing happened on render step... The parse step s

[2019-11-21 11:55] msangel commented on #162
I found even better solution:
https://github.com/msangel/Liqp/commit/bfd8c8f736e80ab545914eff080a1da8b0088d14
This will allow:
1) Object to be inspectable by marking them `Inspectable`. These can be at any place of data model and only these objects will be converted to data tree.
2) LiquidSupport that extends Inspectable but do not make any conversions, so the result of `toLiquid` will not be conv

[2019-11-24 20:45] bkiers commented on #162
Yes, I agree with that. @msangel are you OK if I merge @pmenhart's PR https://github.com/bkiers/Liqp/pull/163 and you base your lazy/eager rendering options then on `develop`?

No particular reason. `RenderSettings` was introduced later and I never thought about needing a mapper in there 🤷‍♂

[2019-12-26 22:09] maxArturo opened #165 "[Question] Extracting the list of variables from a template"
I took a quick look at what's available from the public API, and it seems like it is not possible to get a list of variables for substitution from a template. What would be the easiest way to go about this?

Thanks in advance!

[2020-05-14 01:28] JakeWharton opened #166 "Path and/or InputStream overloads for parsing"
This allows streaming from sources which are not on the default filesystem, such as those within a zip file or an in-memory filesystem.

[2020-05-14 02:33] JakeWharton opened #167 "Strict fails when variable is used in an 'if'"
[code]
Even in strict mode, the use of a conditional on the raw tag value should not fail since the template is guarding against its absence.

[2020-05-15 00:26] JakeWharton commented on #167
This behavior is documented here: https://shopify.github.io/liquid/basics/types/#nil

[2020-05-15 00:36] JakeWharton commented on #167
Based on `RenderSettingsTest.renderWithStrictVariablesInAnd1` this behavior seems intentional. Somewhat unfortunate since it basically makes the otherwise super-useful strict mode unusable the first time you introduce a conditional reference.

Is this something you'd be open to changing?

[2020-05-15 03:09] mosabua commented on #167
Seems reasonable to change that to me.

[2020-06-17 15:23] bkiers commented on #167
@JakeWharton sorry, missed this. Will have a look at that.

[2020-06-17 18:50] bkiers commented on #167
@JakeWharton when running this Ruby script:

[code]

the following output is printed:

[code]

So although guarded, Liquid does record the error. The difference with Liqp and Ruby's Liquid is that Liqp throws the exception. A better way would be for Liqp to do something similar: record the errors in an instance variable of the `Template` class and continue rendering. This is a breaking change, but

[2020-06-17 18:56] JakeWharton commented on #167
Oh, interesting. Thanks for digging in. This must mean I'm running it in non-strict mode through Ruby 😶. I had no idea!

[2020-06-17 19:08] #158 closed

[2020-06-17 19:09] #138 closed

[2020-06-17 19:10] bkiers commented on #165
Sorry @maxArturo, I rarely visit this repo :) Will have a look at this shortly.

[2020-06-17 19:33] bkiers commented on #166
Yeah, that should've been present from the start! 😄

[2020-06-17 19:34] #166 closed

[2020-06-17 20:09] bkiers commented on #167
It need not be a breaking change: I'll introduce a `boolean` in the `RenderSettings` that will indicate when in strict mode an exception should be thrown when encountering a non-existing variable.

The unit test will look like this:

[code]

the above is in line with Ruby's Liquid lib. And to keep it backwards compatible in Liqp, the `raiseExceptionsInStrictMode` is default true.

[2020-06-17 20:22] #167 closed

[2020-06-17 20:36] bkiers commented on #165
No, there is no proper way to get hold of this data. A `Template` recently got a `TemplateContext` class that holds this information, but I don't see the need to make this publicly available. This hold more information than user-variables, but also internal variables used in for-loops. You could get a hold of it through reflection, of course, but that is rather fragile:

[code]

[2020-06-25 12:49] andrhamm commented on #165
@bkiers This feature would be super useful in template tooling. I've searched for this feature in other LiquidJS libraries and have never found it, unfortunately. We write JSON Schemas for our templates in order to validate input at the API level and if we were able to parse out a list of the variables coded in the Liquid of a template, we could identify gaps where the schema might have become out

[2020-06-25 12:52] bkiers commented on #165
@andrhamm alright, fair enough, I'll re-open 😃

[2020-06-25 14:06] andrhamm commented on #165
I'll be honest, I don't know much about the internals of a template engine, but ideally parsing a template could return an object with all the variables defined in the liquid. I would expect that object to match the structure of the input the template expects to receive.

[code]

Could be parsed and return something resembling a schema of sorts:

[code]

I'm not sure how much context the parser wo

[2020-06-26 06:49] bkiers commented on #165
Ah, yeah, that makes sense. I was thinking about the values of the variables after rendering the template. Something what you described above is already possible with the abstract syntax tree that is available in the `Template`:

[code]

and then you can traverse the `root` tree (and its children) to get all variable nodes in it. I'll post a quick demo of it here this weekend.

[2020-06-27 07:42] bkiers commented on #165
ANTLR provides [listener](https://github.com/antlr/antlr4/blob/master/doc/listeners.md) and visitor classes to walk the parse tree and extract information from it. You can get the parse tree from a template like this:

[code]

You can then listen for invocations of certain rules, like the `lookup_id_indexes` parser rule:

[code]

that matches variables. You do that by extending the generated `Liqu

[2020-06-30 05:24] #165 closed

[2020-07-10 02:45] jonathanswenson opened #170 "Performance degradation of template parsing with custom tags"
Problem:

There appears to be a significant performance degradation when attempting to use custom tags and blocks in large templates.

If you configure the parser to have two custom tags: `block` and `simple` (they will be no-ops for our purposes).
However, we can assume that the simple tag does NOT use an end tag (like the built in increment tag) `endsimple` while the block tag (like the built in

[2020-07-17 15:42] micah-williamson opened #171 "Date Filter Does Not Work With 'T' Formatted Dates"
According to this blog post on shopify-

https://www.shopify.com/partners/blog/liquid-date-format

A datetime should be valid if the date-time separator is either a space or 'T'. However, this doesn't appear to work with Liqp.

[code]

This results in-

But it should result in-

[2020-07-29 23:10] jonathanswenson commented on #170
cc @bkiers

[2020-08-03 08:19] bkiers commented on #170
Hey @jonathanswenson, thank for the elaborate report! I hope to have a look at it more closely within a couple of days.

[2020-08-14 12:07] mihaiandreicut opened #172 "When I have properties that start with same characters there is a problem on rendering the template"
Hello,
I have this two properties
{{data.uniqueId}} and {{data.uniqueIdSolicitare}} used in the same div tag in a template, and I receive this error:

HTTP JVM: liqp.exceptions.LiquidException: lexer error "token recognition error at: '}"'" on line 98, index 0

Can you help me ?
thank you !

[2020-08-25 11:40] PChou commented on #171
this PR https://github.com/bkiers/Liqp/pull/173 should solve that

[2020-09-15 06:58] mihaiandreicut opened #174 "Can I use ?"
Hello,
Can I use this kind of expression:
`
{% unless settings.fp_heading == blank %}
    <h1>{{ settings.fp_heading }}</h1>
{% endunless %}
`

Thank you !

[2020-09-30 00:26] msangel commented on #171
@PChou
This looks nice but what looks danger to me is new joda-time dependencies. Will it be hard do not include that as dependency? Because if we will include that - this is not compatible change.

[2020-09-30 00:40] msangel commented on #172
Hello @mihaiandreicut
I have tested your case and found no problems with it.
Here's my test case:
[code]

If I have missed something(flags, modes, data format), please give me to know.

[2020-09-30 01:09] msangel commented on #174
You can(or at least should) use all the stuff the Jekyll/Liquid provide.
Your sample is not working in neither Jekyll or Liquid.
I just tested on both dialect this code:
[code]
and in both Jekyll and Liquid I got this:
[code]

Yes, looks weird, but the library provide the same behavior as the Jekyll/Liquid.

[2020-09-30 01:09] #174 closed

[2020-09-30 01:12] msangel opened #175 "where_exp filter support"
Working on it

[2020-10-04 16:27] MuratKaragozgil opened #176 "About dynamic fields"
Hi,

How to get dynamic fields in the input before render ?

Thanks

[2020-10-04 19:21] msangel commented on #176
What do you mean by "dynamic fields"?

If you want to have computed values, take a look at liqp.parser.LiquidSupport class, sample usage in the test case below:
https://github.com/bkiers/Liqp/blob/master/src/test/java/liqp/parser/LiquidSupportTest.java#L44

[2020-10-04 19:30] MuratKaragozgil commented on #176
For example

[code]

{{name}} and  {{surname}} are dynamic field. How can i get name, surname etc. keywords from template object ?

Thanks

[2020-10-04 19:41] msangel commented on #176
They are stored in the private field:
`template.templateContext.variables`
There is no getter for them(and depending on rendering mode library may convert them to a map), but in the general case, you can use reflection.

[2020-10-04 19:41] #176 closed

[2020-10-04 19:42] msangel commented on #176
There no API for that. Sorry.

[2020-10-23 11:41] mihaiandreicut opened #178 "A possible problem in for loop implementation"
Can I use this kind of syntax:
{% for i in (1..10) reversed limit:3 offset:2 %}

?

[2020-11-15 01:47] Katsute opened #179 "Includes within for loop is missing variables"
When using includes within a for loop only the iterator variable can be accessed by the includes, it doesn't return a value for both global assigned variables and variables assigned within the loop.

**HTML file**
[code]
**Liquid includes file**
[code]
**Response**
[code]

[2020-11-19 03:00] #172 closed

[2020-11-22 22:37] msangel opened #181 "Invalid scope for variables, defined via "increment" and "decrement" tags"
In a liquid the variables for "increment" and "decrement" tags are stored separately in `context.environments.first` hash-object. And the current execution scope stored in `context.scopes.last`.
This cause the variables defined in "increment" and "decrement" live independently and be the same across all execution, no matter the scope. And the variable resolving in `context.find_variable` method ac

[2020-11-22 23:45] #181 closed

[2020-11-23 17:54] msangel opened #183 "Invalid scope for cycle tag"
tldr:
In the liquid this template:
`"{% cycle 1,2,3 %}{% assign list = \"1\" | split: \",\" %}{% for n in list %}{% cycle 1,2,3 %}{% endfor %}{% cycle 1,2,3 %}"`
will give this output:
`"123"`
while this library gives `"121"` (incorrect)

Details:
In the liquid the track of the current cycle state is tracked in `context.registers[:cycle]` object, which itself is a hash-object, where the key is str

[2020-11-23 20:19] #183 closed

[2020-11-24 00:33] msangel opened #185 "Fix Tablerow scope visibility(also missing support of "offset" parameter)"
These tests are failing because of incorrect scope handling:
[code]

[2020-11-24 00:47] msangel commented on #185
work in progress

[2020-11-25 03:13] #185 closed

[2020-11-25 03:39] msangel opened #188 "Invalid scope for Ifchanged tag"
Should save state in `context.registers[:ifchanged]` and so be global instead of saving value in the current context.

[2020-11-25 12:58] #188 closed

[2020-11-25 13:03] msangel commented on #178
Yes. Thanks for the report. Will fix this in a few days.

[2020-12-06 14:37] #178 closed

[2020-12-06 14:37] msangel commented on #179
Working in this.

[2020-12-08 02:18] msangel commented on #175
Still working...

[2020-12-09 22:04] msangel opened #193 "`include_relative` tag support"
TBD

[2020-12-09 22:32] msangel opened #194 "`include` tag in jekyll flavour should support passing parameters"
See https://jekyllrb.com/docs/includes/#passing-parameter-variables-to-includes

[2020-12-09 22:34] msangel commented on #193
Only jekyll flavour

[2020-12-09 22:42] msangel opened #195 "`include` in liquid flavour should support `for` systax"
In fact its just synonym for implemented `with`, but there are more cases to test(collections for example):
test/integration/tags/include_tag_test.rb
Here's include tag syntax for liquid:
`Syntax = /(#{QuotedFragment}+)(\s+(?:with|for)\s+(#{QuotedFragment}+))?/o`

[2020-12-09 23:05] #179 closed

[2020-12-12 00:03] msangel opened #196 "`include` with `with` syntax should throw an expection in Jekyll flavour"
Like that:

[code]

[2020-12-17 23:53] msangel commented on #196
This bug is more complicated than it seems so.
Problem is: Invalid is a fact of whitespace character in resource name for Jekyll, but the rest of possible items there is a valid one. A very simple example:
` {% include some.file %}`
What is `some.file`? according to existed lexer rules, this is an expression. But that's not true. This should be a filename. We don't dave a lexeme for filename but w

[2020-12-22 21:19] msangel opened #199 "`Contains` node unexpected result"
[code]
reasoning: Integer vs Long
![image](https://user-images.githubusercontent.com/773163/102934072-759abb00-4471-11eb-9eea-756a9d49e1f8.png)

[2020-12-22 22:41] #199 closed

[2020-12-23 02:23] #175 closed

[2020-12-23 02:23] msangel commented on #175
Done

[2020-12-23 02:24] msangel opened #202 "`find_exp` Jekyll filter support"

[2020-12-23 02:25] msangel commented on #202
Also to review filters on: https://jekyllrb.com/docs/liquid/filters/ and add missing

[2020-12-25 01:29] msangel opened #203 "Inspectable should be treated as map."
There are inner methods for processing hashes: `isMap` - detect is Map (hash) and `asMap` - convert to Map.
The `Inspectable` marker interface was added for allowing introspect POJO like they are hashes too:
[code]
for the parser engine is the equivalent of:
[code]
.
But not all tags/filter yet support that (latest find: the `contains` node). So its a proposition for making those methods:
`isMap`

[2021-01-04 02:46] #196 closed

[2021-01-16 03:52] msangel opened #204 "`Eager` evaluate mod is not aware of Date types."
Upd: usual old evaluate mode (Lazy) also don't do the job.
Both tests fail.
[code]

[2021-01-16 03:53] msangel commented on #204
@bkiers, I dont know how many users stick with java7, but java8 has a much better time API. Still, I will try to fix this in java7.

[2021-01-17 12:06] thibaultmeyer opened #205 "New release ?"
Hello,

is there a chance to have a new release (0.8.0 ?) that would have the 50+ commits made since the last release?

[2021-01-17 12:54] msangel commented on #205
Hi!
Most of the reported bugs are more features(that the library should support thro..), but there are two issues regarding handling time types:
https://github.com/bkiers/Liqp/issues/204
https://github.com/bkiers/Liqp/issues/171
that definitely needs to be fixed before release.
I am already working on those.

[2021-01-18 16:04] bkiers commented on #204
There used to be...

Java 7 is rather old, so going with something newer is fine by me (although that would mean a major version bump).

[2021-01-18 16:11] bkiers commented on #205
@msangel when releasing a new version, I always ping Manfred Moser who volunteered to handle the push to Maven (see: https://github.com/bkiers/Liqp/issues/157). If you're familiar with the whole Maven process, you could also ask Manfred to give you access.

Depending on what the new version is going to be (right now that is defined in the Pom as `0.7.10`) then https://github.com/bkiers/Liqp/releas

[2021-01-26 01:15] msangel commented on #171
Currently working on this.
Thanks for the test cases, I will use them.
And just for the history: there exists a way to put `'T'` letter into pattern
https://stackoverflow.com/questions/2416809/using-alphabetic-characters-in-simpledateformat-pattern-string
Thou I will anyway go another approach as the library missing many things from strftime format.

[2021-02-19 09:58] PChou commented on #171
@msangel what about shade joda-time if you are afraid that? i think following standard `jruby` implementation should avoid bugs that not known yet
WDYT?

[2021-02-19 11:58] msangel commented on #171
@PChou , there no need in that. Pre-java8 jdk date API is broken, so the library will move to the jdk8 and will use normal datetime api as a base(old types still will be supported via internal plugin system, btw that can be tuned for joda-time aswell). I made a big effort to make this working with pre-java8 datetypes, but once I realise how it is broken(I had one test that works fine in jdk7 but b

[2021-02-19 12:00] msangel commented on #171
You can track the progress there: https://github.com/bkiers/Liqp/pull/207/commits

[2021-03-05 00:05] kkms commented on #205
@bkiers @msangel I would like know when 0.7.10 will be released.

[2021-03-06 17:38] kkms opened #209 "numbers as key name"
Following example throws me exception, Is it possible to use number as Key?

[code]

[code]

[2021-03-06 17:53] msangel commented on #209
Yes. It is possible. Just configure your own jackson mapper with this feature and use it with the library. In few hours will gave you a sample

[2021-03-06 17:54] msangel commented on #209
If you will be unable to find that method yourself till that time

[2021-03-06 18:47] kkms commented on #209
Thanks @msangel  But I think issue is related to Template parsing. number field in the template is causing the issue.

[2021-03-15 11:00] msangel commented on #209
Just dig into this.
Yes, this is lexer problem.
in place where we have
lookup > index > id2
the lexer gives here DoubleNum, as the match string is DoubleNum: `1.`.
So far have no idea how to fix this properly... as this is lexer problem, not a parser...

[2021-03-15 20:08] bkiers commented on #209
Indeed, a lexer issue. Ruby's Liquid engine handles such cases properly:

[code]

So it's a bug in Liqp. One I don't really have a nice way of handling though 🤷

[2021-03-16 09:31] bkiers commented on #209
It appear to be valid to put a number as a key only in nested objects. So this is valid:

[code]

but this is not:

[code]

This means I can recognize a so-called "ID chain" in the lexer (like `"Data.1.2"`) and let the lexer chop this up in a separate method in the 5 tokens: `Id`, `Dot, `Id`, `Dot` and `Id`.

I'll give this a try tonight.

[2021-03-16 19:21] #209 closed

[2021-05-21 01:37] msangel commented on #171
@PChou
Now it is in the `master` branch.

Is that fix works?

[2021-07-05 18:19] msangel commented on #205
@bkiers I can do release myself, just need your approval (since you are an owner of `nl.big-o`). I believe sonatype devs can see this thread, so just type here something.

[2021-07-05 18:35] bkiers commented on #205
You have  my approval @msangel ! 👍

[2021-07-23 07:18] mihaiandreicut opened #213 "XSS Protection"
Q: is there a way to do this, without escape filter, it's ok but it's hard to maintain the template.

Additional Info: Shopify automatically escapes values if they are used in not safe way https://stackoverflow.com/questions/43729435/how-does-shopify-make-their-liquid-templates-safe-avoid-xss

[2021-08-16 20:51] jvanzyl commented on #205
I will try and do a release but for some reason this test fails on my Mac with 11.4, using AdoptOpenJDK 11.0.12+7 in  UTC-04:00. @bkiers or @msangel any thoughts as to why before I go hunting?

[2021-08-16 20:56] msangel commented on #205
openjdk version "11.0.2" 2019-01-15 goes fine:
https://www.travis-ci.com/github/bkiers/Liqp/jobs/531761548

though some tests may rely on i18n strings that may differ in your JDK version

[2021-08-16 20:58] jvanzyl commented on #205
Yah, the new CI on GHA works fine as well for the Mac. I'm trying to figure out why it's not working here locally. I'll try openjdk here locally.

[2021-08-16 21:14] jvanzyl commented on #205
Must be my machine because the exact same OSX and JDK works in CI and fails on my machine. I'll figure it out.

https://github.com/bkiers/Liqp/pull/217/checks?check_run_id=3344456448

[2021-08-16 21:17] msangel commented on #205
Can you give some logs with failing ones?

[2021-08-16 21:23] jvanzyl commented on #205
Here is what happens in IDEA (as well as with Maven on the CLI):

[code]

[2021-08-16 21:39] msangel commented on #205
I found the bug, thanks

[2021-08-16 21:41] msangel commented on #205
Here:
https://github.com/msangel/strftime4j/blob/master/src/main/java/ua/co/k/strftime/formatters/DateTimeFormatterFactory.java#L33
instead of `ChronoField.HOUR_OF_AMPM` there should be `ChronoField.CLOCK_HOUR_OF_AMPM`

[2021-08-16 21:43] msangel commented on #205
will release the fix tomorrow

[2021-08-16 21:45] jvanzyl commented on #205
Awesome, thanks @msangel

[2021-08-17 13:05] msangel commented on #205
@jvanzyl library got fixed and published to maven central, also updated dependency version here. (i glad maven central still accept my key as the keyserver I used to use is already dead)

[2021-08-17 13:49] msangel commented on #162
default behavior was reverted in master

[2021-08-17 13:49] #162 closed

[2021-08-17 13:49] #171 closed

[2021-08-17 13:53] msangel commented on #204
fixed in master

[2021-08-17 13:53] #204 closed

[2021-08-17 14:47] jvanzyl commented on #205
Ok, master is working in CI and here locally so I can make a release. What's in master doesn't match the versioning that has gone on previously. The version is still <1.0 so I don't think you have to mark it as alpha. I would suggest going back to something like `0.8.0-SNAPSHOT` and we release `0.8.0`.

[2021-08-17 14:58] msangel commented on #205
Yes. Release 0.8.0 make sense.

[2021-08-18 14:42] jvanzyl commented on #205
Ok, I'll cut a release today.

[2021-08-18 15:45] jvanzyl commented on #205
The `0.8.0` release has been made. It's just syncing to Maven Central now.

[2021-08-18 15:46] #205 closed

[2021-08-19 14:43] mbaumbach opened #218 "RenderSettings.defaultTimeZone is unused"
It looks like this may have been introduced to allow setting the timezone (similar to the locale) for the `Date` filter, but the `Date` filter is only using the `ZoneId.systemDefault()` when it comes across a time that is in seconds. Is this meant to be used in that case or an unused property on the `RenderSettings`? It was added in commit a668168e35dfc3938824a96c5feb9ebf4116799d.

Liqp version: 0

[2021-08-19 14:45] mbaumbach commented on #218
Perhaps @msangel knows the intention here. I've written a custom time zone aware date filter for our own code base, but it would be awesome to make use of this directly from the library!

[2021-08-19 14:46] msangel commented on #218
Agree. My mistake. You are right on the purpose of this field but looks like I forget to actually use it.
Will do a fix in a few days.
Thankls!

[2021-08-20 01:25] msangel commented on #218
tl;dr: it's big and breaking change

@mbaumbach
The issue seems more complicated than expected.
![Screenshot_2021-08-20_04-10-53](https://user-images.githubusercontent.com/773163/130163422-eb996824-b111-4d03-8ddd-150b58b68453.png)
since the default timezone is also used in https://github.com/bkiers/Liqp/blob/master/src/main/java/liqp/filters/date/Parser.java#L99
and it's logically to use existed p

[2021-08-20 01:31] msangel commented on #218
Made a pull request for that actually: https://github.com/bkiers/Liqp/pull/219
but lets the @bkiers  decide if it is worse to break backward compatibility

Minimal fix for an exactly described case already in master: https://github.com/bkiers/Liqp/commit/d35be5aea36cddb55925b09d6289afbf223fb855

[2021-08-20 01:36] msangel commented on #218
I would say: if people need a not-default timezone, lets them use datatypes with explicit timezone. But maybe I just don't want to break compatibility. But since this is a big jump anyway, it may be worth it.

[2021-08-20 13:36] mbaumbach commented on #218
@msangel If you construct the parser without specifying a timezone and the parser continues to default to using the system default, is it still a breaking change? Wouldn't this require people to opt-in by providing a TimeZone at the time of constructing the parser? Since that wasn't an available API before, it sounds like it might not break compatibility, but maybe I'm missing something.

Thanks f

[2021-08-20 14:03] msangel commented on #218
What you're saying is correct. External interfaces aren`t changed even a bit.
But the internal ones do. So if someone uses their own filters or tags it's a big chance of them being broken.

[2021-08-20 14:15] mbaumbach commented on #218
Ah, that makes sense. Thanks for explaining the use case!

[2021-08-20 14:31] msangel commented on #218
Test case with explaining what's the fix do, this works on [proposed code](https://github.com/bkiers/Liqp/pull/219), but fails on master:
[code]
on mater it fails with this exception(as I live in +2)
![Screenshot_2021-08-20_17-28-52](https://user-images.githubusercontent.com/773163/130248841-03d979d2-deb9-45bb-80b9-30b4da4d9c8b.png)

In case of approval, I will cover all cases with tests(I like to

[2021-08-20 17:35] jvanzyl opened #220 "Report unsupport tags/filters more nicely"
Right now it's really hard to tell during parsing when a tag/filter is not implemented. You just get a NPE:

[code]

Which is very hard to figure out what is not implemented.

[2021-08-20 18:02] msangel commented on #220
code to reproduce?

[2021-08-20 18:03] jvanzyl commented on #220
I'll make a test that has a template with a tag that has not been implemented and it should yield the error above. In my case it was happening as the template I was using made use of a `post_url` tag. Then that worked and it failed again on another tag.

Actually it tells you when a filter is missing, but I don't think the same happens with tags.

[2021-08-20 18:20] jvanzyl commented on #220
So  at this location:

https://github.com/bkiers/Liqp/blob/master/src/main/java/liqp/parser/v4/NodeVisitor.java#L103

Placing something like this:

[code]

Helped me report and find the tags that are missing. Maybe this isn't the ideal way to do this but something like this to help users determine if there are tags missing. I'm testing various Jekyll sites and there are a bunch of tags I'll have t

[2021-08-20 18:23] jvanzyl commented on #220
@msangel What's the recommend way to create templates with custom filters and tags?

[2021-08-20 18:30] msangel commented on #220
The examples in readme are good. I can just suggest to use those variants
of apply method that also accept TemplateContext.

пт, 20 серп. 2021 о 21:23 Jason van Zyl ***@***.***> пише:

--
Надіслано з Gmail Mobile

[2021-08-20 19:09] jvanzyl commented on #220
I'll try and see if there is a test for registering a new tag and using it as this seems not to be working for me. I'll make a test quickly.

[2021-08-23 13:49] bkiers commented on #218
Thanks @msangel, nice work! Go for it :+1:

[2021-08-23 13:58] #218 closed

[2021-09-27 22:35] ntoskrnl opened #224 "Older Android version support is broken"
Since 0.8.0 it doesn't work on older versions of Android.
ThreadLocal.withInitial() is only available on Android 8.0.

Many `java.time.*` APIs are not available without [desugaring](https://developer.android.com/studio/write/java8-support-table).

[code]

Maybe we can make Date type support an opt-in feature? Or lazy load the modules only when Date / Temporal types are used in the teplate?

[2021-09-28 17:20] msangel commented on #224
Java 8 classes are in use is in the logic of date/time manipulation, so not sure if it's possible to make them optional.

It is easy to replace `ThreadLocal.withInitial` with older-compatible code. Will introduce such change in few days.

[2021-09-28 17:57] ntoskrnl commented on #224
Maybe wrap instantiation of type-support services into try-catch?

[2021-12-24 03:09] msangel commented on #224
@ntoskrnl  мне баг закрывать?

[2022-01-06 21:01] pelletier197 opened #225 "Feature request: Custom date format"
At the moment, if you provide any temporal accessor, it is automatically converted to an arbitrary format using this:
[code]

Would be great to have the possibility to use a custom date format.

[2022-04-22 18:48] bdw429s opened #226 "All Filter and Tag registration via interface"
I'd like to use this library in a JVM language called CFML.  I can easily wrap up my custom classes to present as any interface on the classpath, but there is not currently a way in CFML for my classes to extend a given Java base class.  This makes it pretty much impossible for me to extend this lib with Tags or Filters written in CFML.

I think this could be done in a backwards compat manner if a

[2022-04-27 00:42] msangel commented on #226
@bdw429s
Adding ITag and IFilter abstraction is not hard. But It's hard to do something without a clear understanding of all the requirements(a lot of questions like "should be here interface or the real class already" may be answered incorrectly).
The best solution here I guess is when you will just provide PR.

[2022-04-27 00:51] #224 closed

[2022-04-27 01:16] msangel commented on #213
Seems to be that feature is analyzing the DOM tree of the HTML file and if the variable usage is unsafe - it escapes it automatically. This library has no capabilities for HTML parsing. It knows nothing what HTML is.
True, this library has `jsoup` dependency so technically we can do some predictions if the input is parsed without issues as HTML and do some manipulations based on that. Not sure it'

[2022-04-27 16:41] bdw429s commented on #226
Hi @msangel, thanks for the reply.

I think it's very simple.  The goal is just to be able to extend this library with Tags and Filters via an interface rather than an inheritance approach.  That's it.  This is just typical OO stuff.  Let me know if that doesn't make sense, but I assume you have a handle on how interfaces work :)

Sorry, but I'm not following that sentence.  If you're asking where

[2022-05-02 22:55] #170 closed

[2022-05-10 23:08] msangel commented on #226
I have reviewed this once again and had to admit - using this will cause a lot of code compatibility breaking and most important will create unnecessary interfaces in the inheritance tree with no clear purpose.
That already is quite big.

What I propose instead is create three new classes that will take interface as a parameter and uses one as rendering delegate:
* `DelegatingFilter(DelegatingFilt

[2022-05-10 23:36] bdw429s commented on #226
Hmm, I'm not sure we're on the same page then.  What I described above should not break any compatibility.  Any existing subclass of `Tag` for example, would automatically implement the `ITag` interface after my proposed change, so the type would still be accepted by the framework with no changes necessary.  What scenarios are you seeing break here?

 Again. I'm not sure what you mean here.  The I

[2022-05-10 23:53] msangel commented on #226
This is a classical case described in this article:
https://en.wikipedia.org/wiki/Composition_over_inheritance

Also, when I add 2 interfaces and 3 classes, it affects only 5 logical elements.

Adding an intermediate interface will cause affecting _all_ filters, tags and blocks. Literally, it will affect ~95 entities just in this library(by causing them also extend some new interface additionally)

[2022-05-11 00:02] msangel commented on #226
Also, using interfaces with `ISomething` prefix is bad practice that came from C# world and is not welcomed in java.

[2022-05-11 22:41] msangel commented on #220
Thanks for the commit!

[2022-05-11 22:41] #220 closed

[2022-10-05 18:10] RobertoPegoraro opened #233 "Plus filter is wrong"
According the Liquid code, there is a strategy before calculate the Plus

It checks and convert in case not a number

def self.to_number(obj)
      case obj
      when Float
        BigDecimal(obj.to_s)
      when Numeric
        obj
      when String
        /\A-?\d+\.\d+\z/.match?(obj.strip) ? BigDecimal(obj) : obj.to_i
      else
        if obj.respond_to?(:to_number)
          obj.to_number

[2022-10-05 18:16] msangel commented on #233
@RobertoPegoraro can you please provide sample test case that is failing and I will roll up fix fit it?

This will boost fix much as I don’t know ruby good enough(so figuring out error will take much more time)

[2022-10-05 18:38] msangel commented on #233
Or at least more details. As for now I see you need to add string that look like a date "2022-03-24" to something. What exact java type is the date object? What is the second operand?

[2022-10-06 16:48] RobertoPegoraro commented on #233
In my case is it. I'll pass the date as String:

`"{% assign ptDate = '2022-03-24' | date: '%s' %} {{ ptDate | plus: 518400 | date: \"%B %-d, %Y\"}}"`

[2022-10-06 18:51] RobertoPegoraro opened #234 "How can I ignore the $ char"
I'm receiving the message: `liqp.exceptions.LiquidException: lexer error "token recognition error at: '$'" on line 219, index 39`

I'd like to ignore that char and continue without error, is there any way to do that?

In my case I'm trying to compile and HTML and that token is part of a commented code `` also there is any way to skip the comments?

[2022-10-06 19:18] RobertoPegoraro commented on #233
I figure out the problem is not in Plus, but in my code there is a time_zone function (is not native from liquid) so, I created a new filter and now the plus is working as expected. thank you!

[2022-10-06 19:18] #233 closed

[2022-10-13 11:33] bkiers commented on #234
Could you add a complete example how that fails? Because this:

[code]

works as expected and prints:

[code]

[2022-10-18 12:48] RobertoPegoraro opened #235 "java.lang.RuntimeException: error on line 317, index 55: Unparseable date: "now""
I'm receiving the error `unparseable date "now"` when I try to parse the current command:

`{{ 'now' | date: "%B %-d" }}`

Does anyone know why?

[2022-10-18 12:52] #235 closed

[2022-10-24 10:59] #234 closed

[2022-11-18 18:49] jkhanna23 opened #240 "Parsing Datetime to date-month works fine but not with only Date"
Hi, I'm having an issue while parsing the following input in Template to render.

{{ "2022-10-13 12:06:04" | date: "%m-%e" }}     → gives parsing outcome as →      "10-13"                   // correct output

{{ "2022-10-13" | date: "%m-%e" }}                     → gives parsing outcome as →      "2022-10-13"        //incorrect output

Is there any method or filter for this issue so it works with

[2022-11-19 10:06] bkiers commented on #240
Thanks for the report @jkhanna23, I've created a fix for it. I'll leave the merge to @msangel since I am not using Liqp actively myself.

[2022-11-19 15:38] #240 closed

[2022-11-19 16:23] #194 closed

[2022-11-21 09:04] jkhanna23 commented on #240
Hi @bkiers @msangel,

Can you please make a new tag/version for the repo with these changes made above, as I'm currently using the tag - **0.7.5** for liqp

[2022-11-23 19:46] bdale-upland commented on #240
I have the same question as jkhanna23 above - any ETA on the next release with this fix in it?
Thanks!

[2022-11-24 23:25] kohlschuetter opened #243 "Dependencies using Liqp may affect template execution due to shared global state"
Currently, there are several places in the API that may have unsafe side-effects on otherwise unrelated code that shares Liqp running in the same VM.  This is due to global scope that allows modifications around Insertions and Filters, which are stored as static HashMaps shared across all callers.

In the worst case this could be seen as a security issue because unrelated code may interfere and ov

[2022-11-24 23:25] kohlschuetter commented on #243
Proposed fix in https://github.com/bkiers/Liqp/pull/241

[2022-11-24 23:33] msangel commented on #243
My opinion on this: let the user[target developer decide]

So, just took your implementation BUT left the old API interface as is: not mark methods as `deprecated` and undo methods removal(if any).

(and maybe use  ConcurrentHashMap instead of HashMap where concurrency cases may appear, as well as use CopyOnWriteArrayList instead of ArrayList for the same)

Main decision will be made by @bkiers

[2022-11-24 23:57] kohlschuetter commented on #243
Do we want to leave users exposed to this security risk? Sure, but let's please mark these methods as deprecated (this is what my patch does).

Note that the bug is not about thread-safety. It's enough if a dependency initializes Liqp after your own code does.

[2022-11-25 00:30] msangel commented on #243
Some king of equivocation here.
Security will be better when the user will have the possibility to create a clean templator instance without impact from static context and so this will solve the issue described above.

Marking static methods `deprecated` will them just forced to use their own instance approach everywhere. Having static access on place is not that bad. Yes, the static context may b

[2022-11-25 08:53] kohlschuetter commented on #243
Unfortunately, `Filter.registerFilter` and `Tag.registerTag` overwrite any previously registered `Filter` and `Tag`, that's the problem.

I think the situation could be somehow fixed by not allowing `Filter.registerFilter`/`Tag.registerTag` to overwrite existing entries. However that breaks backwards compatibility.

In my use case I need to replace the `include` tag with a custom one that sources

[2022-11-25 14:30] msangel commented on #243
So my proposition on this is actually: allow override in static context BUT not in the default context. Each new templator should get an untouched original configuration, while static context will be accessible for all possible modifications (like it is now).

For this need just a few changes on top of your commits.

[2022-11-25 15:39] kohlschuetter commented on #243
I think this is what this current patch does.

I've provided the patch with the test cases separated. This way you can verify that the current patch actually does not break backward compatibility.

see `src/test/java/liqp/InsertionTest.java` where I added a test for this (`testNestedCustomTagsAndBlocksDeprecated`):

        Block.registerBlock( ... )

        Tag.registerTag(new Tag("simple") {

[2022-11-25 16:22] msangel commented on #243
You are right. Two points:
1. Regarding recommendations of "old" and "new" API. Marking something as `deprecated` means it will be removed in the future. But I don't see any strong reason to remove static methods at all in any future as they are quite handy.

2. Also, if we are already moving down this road, we can do even more: remove all static fields in all internals and in static methods inter

[2022-11-25 16:45] kohlschuetter commented on #243
How amenable are you to API changes?
Since I don't require old API, I'm all-in for simplifying things.

On the other hand, I'm not sure the proposed `TemplateParser.STATIC` would be a route I'm willing to follow.

The ultimate goal of having builds and immutable data structures is to eliminate any checks at execution time that can be performed during setup.

In a not-so-distant future, I could see

[2022-11-27 19:19] bkiers commented on #243
Yes, as a consumer of a library, I'd assume any deprecated methods to be gone sooner than later. I'd prefer to have them not be marked as deprecated, unless they really are going to be ditched in the near future. Having them along-side a more secure way of parsing and rendering Liquid source files is also fine by me.

I am not too sure what PR https://github.com/bkiers/Liqp/pull/241 is kept from b

[2022-11-27 21:58] kohlschuetter commented on #243
Thanks for commenting, @bkiers!

I'd be more than happy to see the now-deprecated static-scope methods be removed sooner than later. They're inherently unsafe.

I propose to remove the deprecated methods at the next chance where breaking API changes occur (or once we turn to parallel unit tests, which are also affected). — As you see in PR #241, I've taken great care to avoid that for now.

I'm af

[2022-11-30 11:56] msangel opened #244 "Included template must be parsed/rendered with the same parse/rendering settins"
Good point. Actually, I think that was a bug here. In the case of a custom templator this is expected that includes will be parsed with it (but not by the one from a static context). Not sure we even need this flag as we can simply go new approach exclusively.

_Originally posted by @msangel in https://github.com/bkiers/Liqp/pull/241#discussion_r1032572393_

[2022-11-30 19:48] kohlschuetter commented on #243
Closing, since [88f7d1c](https://github.com/bkiers/Liqp/commit/88f7d1c077316f478f815e2284fb6edeb5265f9a) was merged.

[2022-11-30 19:48] #243 closed